{% include "_header.html" %} {% load static %}
<div class="dashboard-header">
  <h5><i class="bi bi-columns-gap"></i>Dashboard</h5>
</div>

<section class="section_summary">
  <div class="summary-part">
    <div class="section_contents">
      <div class="col-4 content_welcome">
        <i class="logo-welcome"><img src="{% static 'img/logo.png' %}" /></i>
        <div class="content_title">Welcome User</div>
      </div>

      <div class="col content content_instructor">
        <div class="content_count">
          <i class="bi bi-people-fill f-left"></i>10
        </div>
        <div class="content_title">Number of Instructors</div>
      </div>
      <div class="col content content_room">
        <div class="content_count">
          <i class="bi bi-door-open-fill f-left"></i>15
        </div>
        <div class="content_title">Available Rooms</div>
      </div>
      <div class="col content content_conflict">
        <div class="content_count">
          <i class="bi bi-exclamation-square-fill f-left"></i>52
        </div>
        <div class="content_title">Number of Conflicts</div>
      </div>
    </div>
  </div>
</section>

<section class="section-quickInfo">
  <div class="notification-part">
    <div class="row">
      <div class="col">Upcoming classes</div>
      <div class="col">announcement and notifications</div>
    </div>
  </div>
</section>

<section class="section-select">
  <h5>Recently Added Instructors</h5>

  <div class="container-fluid">
    <table class="table table-hover">
      <thead class="table-dark">
        <tr>
          <th scope="col">Department</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Handle</th>
          <th scope="col">Quick Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">CAS</th>
          <td>
            <img
              src="{% static 'img/me.jpg' %}"
              style="width: 50px; height: 50px; border-radius: 50%"
            />
            Mark
          </td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>
            <div
              class="btn-group"
              role="group"
              aria-label="Basic mixed styles example"
            >
              <button type="button" class="btn btn-info">View</button>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">CAS</th>
          <td>
            <img
              src="{% static 'img/me.jpg' %}"
              style="width: 50px; height: 50px; border-radius: 50%"
            />Jacob
          </td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>
            <div
              class="btn-group"
              role="group"
              aria-label="Basic mixed styles example"
            >
              <button type="button" class="btn btn-info">View</button>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">CBA</th>
          <td>
            <img
              src="{% static 'img/me.jpg' %}"
              style="width: 50px; height: 50px; border-radius: 50%"
            />
            Mark
          </td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>
            <div
              class="btn-group"
              role="group"
              aria-label="Basic mixed styles example"
            >
              <button type="button" class="btn btn-info">View</button>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">HM</th>
          <td>
            <img
              src="{% static 'img/me.jpg' %}"
              style="width: 50px; height: 50px; border-radius: 50%"
            />Jacob
          </td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>
            <div
              class="btn-group"
              role="group"
              aria-label="Basic mixed styles example"
            >
              <button type="button" class="btn btn-info">View</button>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">CTED</th>
          <td>
            <img
              src="{% static 'img/me.jpg' %}"
              style="width: 50px; height: 50px; border-radius: 50%"
            />Jacob
          </td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>
            <div
              class="btn-group"
              role="group"
              aria-label="Basic mixed styles example"
            >
              <button type="button" class="btn btn-info">View</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>

<section class="section-calendar">
  <h5><i class="bi bi-calendar-check-fill"></i>Instructor's Schedule</h5>
  <div class="container text-center">
    <div class="section_contents">
      <div class="content-calendar" id="calendar"></div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button
        class="btn me-md-2 col-3"
        style="background-color: #397bab; color: white"
        type="button"
      >
        View Schedule
      </button>
    </div>
  </div>
</section>

<section class="section-card">
  <div class="container text-center">
    <div class="section_contents">
      <div class="card" style="width: 18rem">
        <img src="{% static 'img/me.jpg' %}" class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Instructor name</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>

          <ul class="list-group list-group-flush">
            <li class="list-group-item">An item</li>
            <li class="list-group-item">A second item</li>
            <li class="list-group-item">A third item</li>
          </ul>
          <a
            href="#"
            class="btn d-grid gap-2"
            style="background-color: #397bab; color: white"
            >View</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

{% include "_footer.html" %}
