{% include "_header.html" %} {% load static %}
{% block content %}

<div class="dashboard-header">
  <h5><i class="bi bi-columns-gap"></i>Admin Dashboard</h5>
</div>

<section class="section_summary">
  <div class="container-fluid text-center summary-part">
    <div class="row section_contents">

      <div class="col-sm content content_instructor">
        <div class="col"><i class="bi bi-people-fill f-left"></i></div>
        <div class="col">
          <div class="row">
            <h4 class="text-end">Total Instructor</h4>
            <h3 class="text-end">12</h3>
          </div>
        </div>
      </div>

      <div class="col-sm content content_room">
          <div class="col"><i class="bi bi-door-open-fill f-left"></i></div>
          <div class="col">
            <div class="row">
              <h4 class="text-end">Total Rooms</h4>
              <h3 class="text-end">20</h3>
            </div>
          </div>
      </div>

        <div class="col-sm content content_conflict">
          <div class="col"><i class="bi bi-exclamation-square-fill f-left"></i></div>
          <div class="col">
            <div class="row">
              <h4 class="text-end">Conflicts</h4>
              <h3 class="text-end">5</h3>
            </div>
          </div>
      </div>

        <div class="col-sm content content_other">
          <div class="col-4"><i class="bi bi-activity f-left"></i></div>
          <div class="col">
            <div class="row">
              <h4 class="text-end">Conflicts</h4>
              <h3 class="text-end">2</h3>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>
<hr />
<!-- QUICK INFO SECTION (4 boxes part)-->
<section class="section-quickInfo">
  <div class="container-fluid notification-part">
    <div class="row justify-content-start">
      <div class="col-sm upcoming-class">
          Upcoming classes
        <div class="row quickInfo-class">
          <p class="col fs-5 text-start"><span class="time">W</span> Class 1 | ITS103 </p>
          <p class="col fs-5 text-end">09:00 am</p>
        </div>
        <div class="row quickInfo-class">
          <p class="col fs-5 text-start"><span class="time">W</span> Class 1 | ITS103 </p>
          <p class="col fs-5 text-end">09:00 am</p>
        </div>
        <div class="row quickInfo-class">
          <p class="col fs-5 text-start"><span class="time">W</span> Class 1 | ITS103 </p>
          <p class="col fs-5 text-end">09:00 am</p>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-end">
          <button class="btn btn-default btn-see-all" type="button">See all</button>
        </div>
      </div>
      
        <div class="col-sm">Conflicts over time</div>
        </div>
        Calendar
        <div class="row justify-content-start">
          <div class="col-sm">
            <div class="row">
              <div class="col col-calendar">
              <!-- Calendar goes here-->
                <div id='calendar'></div>
              </div>
          </div>
        </div>
          <div class="col-sm">Number of instructors</div>
      </div>
    
  </div>
</section>



<!-- RECENTLY ADDED INSTRUCTORS SECTION (table part)-->
<hr>
<h5>Recently Added Instructors</h5>
<section class="section-select">
  <div class="container-fluid table-responsive dashboard-table">
    <table class="table table-hover table-striped caption-top">
      <caption><a href="{% url "signup" %}" class="btn btn-success" type="button"><i class="bi bi-plus-circle"></i>Add New User</a></caption>
      <thead class="table-info">
        <tr>
          <th scope="col">Department</th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Handle</th>
          <th scope="col">Quick Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">College of Arts and Sciences</th>
          <td>
            <img
              src="{% static 'img/user1.jpg' %}"
              style="width: 50px; height: 50px; border-radius: 50%"
            />
            Mark
          </td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>
            <div
              class="btn-group"
              role="group"
              aria-label="Basic mixed styles example"
            >
              <button type="button" class="btn btn-default">View</button>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">College of Arts and Sciences</th>
          <td>
            <img
              src="{% static 'img/user1.jpg' %}"
              style="width: 50px; height: 50px; border-radius: 50%"
            />Jacob
          </td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>
            <div
              class="btn-group"
              role="group"
              aria-label="Basic mixed styles example"
            >
              <button type="button" class="btn btn-default">View</button>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">College of Business Administration</th>
          <td>
            <img
              src="{% static 'img/user1.jpg' %}"
              style="width: 50px; height: 50px; border-radius: 50%"
            />
            Mark
          </td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>
            <div
              class="btn-group"
              role="group"
              aria-label="Basic mixed styles example"
            >
              <button type="button" class="btn btn-default">View</button>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">College of Business Administration</th>
          <td>
            <img
              src="{% static 'img/user1.jpg' %}"
              style="width: 50px; height: 50px; border-radius: 50%"
            />Jacob
          </td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>
            <div
              class="btn-group"
              role="group"
              aria-label="Basic mixed styles example"
            >
              <button type="button" class="btn btn-default">View</button>
            </div>
          </td>
        </tr>

        <tr>
          <th scope="row">College of Teacher Education</th>
          <td>
            <img
              src="{% static 'img/user1.jpg' %}"
              style="width: 50px; height: 50px; border-radius: 50%"
            />Jacob
          </td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>
            <div
              class="btn-group"
              role="group"
              aria-label="Basic mixed styles example"
            >
              <button type="button" class="btn btn-default">View</button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>


<!-- FEEDBACK SECTION-->

<section class="section-feedback">
 
</section>

{% endblock %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
      events: [
        // Your events data from the database
        {
          title: 'Event 1',
          start: '2024-02-06'
        },
        {
          title: 'Event 2',
          start: '2024-02-10'
        }
      ]
    });

    calendar.render();
  });
</script>
{% include "_footer.html" %}
