{% include "_header.html" %}{% load static %} 
{% block content %}


{% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}



<section class="section-update-generate-schedule">
    <div class="container-sm container-instructor-update" id="container-instructor-edit">
        <a href="{% url 'generate-schedule'%}" type="submit" id="save-subject-btn" class="btn btn-outline-secondary btn-back-instructors"><i class="bi bi-arrow-left"></i>Back </a>
        <div class="row">
            <div class="col-sm col-subject-edit" id="col-subject-edit">
                <form id="subject-form" method="POST" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
                    {% csrf_token %}

                    <!--
                    {{ instructorform.as_p }}   
                    <p class="fs-6 text-start">Hold down “Control” to select more than one or remove subject.</p>
                    -->
                
                
                    <p class="text-start fs-5">Instructor Courses and Respective Sections:</p>
                    

                        <div class="table-responsive">
                            <table class="table caption-top">
                                <caption><button class="btn btn-default" type="button" data-bs-toggle="modal" data-bs-target="#staticCourseSectionAdd"><i class="bi bi-plus-circle"></i>Add New Course and Assign Sections</button></caption>
                                <p class="text start fs-5">Name: {{ instructorform.instance.lastName }}, {{ instructorform.instance.firstName }} </p>
                                
                               
                                        {% for instructor_course in instructor_courses %}
                                            <thead class="table-warning">
                                            <tr>
                                                <th scope="col">{{ instructor_course.course }}  </th>
                                                <td>Hours: {{ instructor_course.course.hours }}hrs  </td>
                                                <th scope="col" style="text-align: right;"><a href="{% url 'delete-course-section' instructor_course.id %}" type="button" class="btn btn-danger btn-sm"  onclick="return confirm('Are you sure you want to delete this entire course and sections?');">Remove Course</a></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                              {% if instructor_course.section %}

                                             
                                            <tr>
                                                    <td>{{ instructor_course.section }}</td>
                                                    <td style="text-align: right;">
                                                        <form action="{% url 'deletesection' instructor_course.id %}" method="post">
                                                            {% csrf_token %}
                                                            <input type="hidden" name="section_id" value="{{ section.id }}">
                                                            <!-- <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this section?');">Remove Section</button> -->   
                                                          </form>
                                                    </td>
                                            </tr>  
                                                 {% endif %}
                                        {% endfor %}    
                                </tbody>
                            </table>
                        </div> 
                        <hr>
                    <button type="submit" id="save-subject-btn" class="btn btn-success">Save changes</button>
                </form>
            </div>
        </div>
    </div>
    
    <!-- Modal Add New Course and Section-->
    <div class="modal fade" id="staticCourseSectionAdd" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Add New Course and Sections</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!--Add New Course and Section Form-->
            <p class="text-center fs-5">Name: {{ instructorform.instance.lastName }}, {{ instructorform.instance.firstName }} </p>

            <form method="POST" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
                {% csrf_token %}
           
            
               <!-- {{ instructor_course_form.as_p }} --> 
                <!--
                <select class="form-select" id="id_instructor_course-section" aria-label="Default select example">
                    <option selected>Select Instructor</option>
                    {% for instructor in instructors %}
                    <option value="{{ instructor.id }}"  data-section="{{ instructor.instructor_college }}">{{ instructor.lastName }}, {{ instructor.firstName }}</option>
                    {% endfor %}
                </select>
                -->
              
                <!--
                <div class="input-group mb-3">
                    <select class="input-group-text" id="inputGroupSelect01">
                        <option selected>Sort</option>
                        <option value="all" selected>Sort </option>
                        <option value="CAS">CAS</option>
                        <option value="CBA">CBA</option>
                        <option value="CIT">CIT</option>
                        <option value="CTED">CTED</option>
                        <option value="CCJE">CCJE</option>
                        <option value="CAF">CAF</option>
                    </select>
                    <select class="form-select" id="inputGroupSelect01">
                      <option selected>Choose...</option>
                      {% for course in courses %}
                      <option value="{{ course.id }}"  data-section="{{ course.college }}">{{ course.course_name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                -->

                <select class="form-select" name="instructor_course-instructor" id="id_instructor_course-instructor"  aria-label="Default select example">
                    <option selected>Select Instructor</option>
                    <option value="{{ instructorform.instance.id }}" >{{ instructorform.instance.lastName }}, {{ instructorform.instance.firstName }}</option>
                </select>

                <p class="fs-6 text-start">Sort Subject</p>
                <select class="form-select" id="category-college" style="width:auto; margin-top: -10px;" aria-label="Default select example">
                    <option value="all" selected>All Colleges</option>
                    <option value="CAS">CAS</option>
                    <option value="CBA">CBA</option>
                    <option value="CIT">CIT</option>
                    <option value="CTED">CTED</option>
                    <option value="CCJE">CCJE</option>
                    <option value="CAF">CAF</option>
                </select>
                   
                <select class="form-select" name="instructor_course-course" id="id_instructor_course-course" aria-label="Default select example">
                    <option selected>Select Course</option>
                    {% for course in courses %}
                    <option value="{{ course.id }}"  data-section="{{ course.college }}">{{ course.course_name }}</option>
                    {% endfor %}
                </select>
               
                
                <select class="form-select"  name="instructor_course-section" id="id_instructor_course-section" aria-label="Default select example">
                    <option selected>Select Section</option>
                    {% for section in sections %}
                    <option value="{{ section.id }}"  data-section="{{ section.section_college }}">{{ section.program_section }}</option>
                    {% endfor %}
                </select>
              
            
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success" name="add_room">Save</button>
            </div>
        </form>
        </div>
        </div>
    </div>
</section>


<script>
    document.getElementById('category-college').addEventListener('change', function() {
      filterCourses();
    });
  
    function filterCourses() {
      var selectedCollege = document.getElementById('category-college').value;
      var courseSelect = document.getElementById('id_instructor_course-course');
      //var sectionSelect = document.getElementById('id_instructor_course-section');

      var courses = courseSelect.options;
     // var sections = sectionSelect.options;
      
      for (var i = 0; i < courses.length; i++) {
        courses[i].selected = false;
      }
      /*
      for (var i = 0; i < sections.length; i++) {
        sections[i].selected = false;
      }
      */
      
      for (var i = 0; i < courses.length; i++) {
        var college = courses[i].getAttribute('data-section');
        if (selectedCollege === 'all' || college === selectedCollege) {
          courses[i].style.display = '';
        } else {
          courses[i].style.display = 'none';
        }
      }
      /*
      for (var i = 0; i < sections.length; i++) {
        var college = sections[i].getAttribute('data-section');
        if (selectedCollege === 'all' || college === selectedCollege) {
          sections[i].style.display = '';
        } else {
          sections[i].style.display = 'none';
        }
      }
      */
    } 
   
  </script>

{% endblock %}
{% include "_footer.html" %}
