<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <!-- {% load bootstrap5 %} -->

    <!--FULLCALENDAR-->
    <script src="{% static 'js/index.global.min.js' %}"></script>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Class Scheduling</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
   
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>

    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">  
  </head>
  <body>
    {% load static %} 


    <!--HOME NAV-->
    <nav class="navbar navbar-expand-lg " id="home-nav">
      <div class="container-fluid container-home-nav">
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarTogglerDemo01"
          aria-controls="navbarTogglerDemo01"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a href=""><img class="img-fluid rounded mx-auto d-block rounded-circle" src="{% static 'img/logo.png' %}" style="width: 40px; height: 40px; border-radius: 50%"/></a>
          <a class="navbar-brand" id="home-logo" href="{% url 'home' %}">e-ClaSched</a>
          <ul class="navbar-nav me-auto mb-2 mb-lg-0 " id="home-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
            </li>
           
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
          </ul>
          
          {% if request.user.is_authenticated %}
            {% if request.user.instructor.role == "Admin" %}
            <a class="nav-link item-profile" href="{% url 'profile' %}" type="button">Profile</a>
            <a class="nav-link item-profile" href="{% url 'dashboard' %}" type="button">Dashboard</a>
          
            <div class="d-flex">
              <a href="{% url 'logout' %}" type="button" class="btn btn-logout "> Logout </a>
            </div>
            {% else %}
            <a class="nav-link item-profile" href="{% url 'profile' %}" type="button">Profile</a>
          
            <div class="d-flex">
              <a href="{% url 'logout' %}" type="button" class="btn btn-logout "> Logout </a>
            </div>
            {% endif %}
          {% else %}
          <div class="d-flex">
            <a href="{% url 'login' %}" type="button" class="btn btn-login "> Login </a>
          </div>

          
          {% endif %}

         
        </div>
      </div>
    </nav>
    <!--END HOME NAV-->


{% block content %}

{% endblock %}
</html>
