{% include "home_header.html" %} {% load static %}
{% block content %}

    <!--SECTION HOME-->
    <section class="container-fluid schedule-section">
      <div class="row align-items-center home-page">
        <div class="col-sm title-part">
          <h1 class="fs-1 text-start">
            Scheduling Management System for Negros Oriental State University
          </h1>
          <br />
          <p class="fs-5 text-start">
            Only NORSU instructors can logged in. Students can view the
            instructors respective schedule
          </p>
          <a href="#home-schedule" class="btn btn-viewSchedules">
            <i class="bi bi-calendar-range"></i>View Instructor Schedules
          </a>
        </div>

        <div class="col-sm logo-part">
          <img
            class="img-fluid rounded mx-auto d-block rounded-circle"
            src="{% static 'img/logo.png' %} "
          />
          <p class="text-center">Bayawan Santa Catalina Campus</p>
        </div>
      </div>

      <div class="row">
        <div class="col-6 offset-md-3 text-center">
          <p class="fs-3 text-detail">
            Effortlessly organize your academic journey with our intuitive class
            scheduling system. Take control of your time, streamline your
            courses, and embrace a stress-free academic experience.
          </p>
        </div>
      </div>
    </section>
   

    <hr />
    <!--SECTION SCHEDULE-->
    <section class="section-schedule" id="home-schedule">
      <div class="container-fluid heading">
        <div class="row row-home-select">
          <div class="col-4"><h3>Schedules</h3></div>
          <div class="col">
            <select class="form-select" aria-label="Default select example">
              <option selected>Select College</option>
              <option>College of Arts and Sciences</option>
              <option>College of Business Administration</option>
              <option>College of Insdustrial Technology</option>
              <option>College of Teacher Education</option>
              <option>College of Criminal Justice Education</option>
              <option>College of Agriculture and Forestry</option>
            </select>
            <select class="form-select" aria-label="Default select example">
              <option selected>Select Semester</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
            <select class="form-select" aria-label="Default select example">
              <option selected>Select School Year</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>

          <div class="container-fluid owl-carousel owl-theme">
            {% for instructor in instructors %}
            <div class="card" style="width: 15rem">
              <img src="{{ instructor.profile_picture.url }}" class="card-img-top" alt="..."/>
              <div class="card-body">
                <h6 class="card-title">{{ instructor.firstName }}, {{ instructor.lastName }}</h6>
              </div>
              <a href="#table-schedule" class="btn btn-primary d-block">View</a>
            </div>
            {% endfor %}
          </div>
     
      <hr>
      <div class="container-fluid home-table" id="table-schedule">
        <div class="row">
          <div class="container-fluid">
            <table class="table table-hover table-striped">
              <thead class="table-success">
                <tr>
                  <th scope="col">Course</th>
                  <th scope="col">Instructor</th>
                  <th scope="col">Room</th>
                  <th scope="col">Time</th>
                  <th scope="col">Days of Week</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">CAS</th>
                  <td><img src="{% static 'img/user1.jpg' %}" style="width: 50px; height: 50px; border-radius: 50%"/>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>T-TH</td>
                  
                </tr>

                <tr>
                  <th scope="row">CAS</th>
                  <td>
                    <img
                      src="{% static 'img/user1.jpg' %}"
                      style="width: 50px; height: 50px; border-radius: 50%"
                    />
                    Mark
                  </td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>T-TH</td>

                </tr>

                <tr>
                  <th scope="row">CAS</th>
                  <td>
                    <img
                      src="{% static 'img/user1.jpg' %}"
                      style="width: 50px; height: 50px; border-radius: 50%"
                    />
                    Mark
                  </td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>T-TH</td>

                </tr>

                <tr>
                  <th scope="row">CAS</th>
                  <td>
                    <img
                      src="{% static 'img/user1.jpg' %}"
                      style="width: 50px; height: 50px; border-radius: 50%"
                    />
                    Mark
                  </td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>T-TH</td>

                </tr>

                <tr>
                  <th scope="row">CAS</th>
                  <td>
                    <img
                      src="{% static 'img/user1.jpg' %}"
                      style="width: 50px; height: 50px; border-radius: 50%"
                    />
                    Mark
                  </td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>T-TH</td>

                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  

  
{% endblock %}
{% include "_footer.html" %}
  