
{% include "home_header.html" %} {% load static %} 

<!--Profile PAGE-->.
<p class="fs-5 text-start user-page-title">User Profile</p>
<hr>
<div class="container-lg shadow-sm container-profile">
    <div class="row">
        <div class="col-6 card-profile" style="">
            <img src="{% static 'img/me.jpg' %}" class="card-img-top" alt="...">
              <h5 class="card-title"> {{ request.user.username }}</h5>
              <p class="card-text">Instructor</p>
          </div>
        <div class="col profile-info">
            <div class="row row-first">
                <div class="col col-label">Gender: <input class="form-control " type="text" value="{{ request.user.instructor.gender }}" aria-label="default input example" readonly></div>
                <div class="col col-label">Date of Birth: <input class="form-control" type="text" value="{{ request.user.instructor.birthday }}" aria-label="default input example" readonly></div>
                <div class="col col-label">Contact Number: <input class="form-control" type="text" value="{{ request.user.instructor.contact }}" aria-label="default input example" readonly></div>
            </div>
            <div class="row">
                <div class="col col-label">Email: <input class="form-control" type="email" value="{{ request.user.instructor.email }}" aria-label="default input example" readonly></div>
                <div class="col col-label">Address: <input class="form-control" type="text" value="{{ request.user.instructor.address }}" aria-label="default input example" readonly></div>
                <div class="col col-label">Department: <input class="form-control" type="text" value="{{ request.user.instructor.department }}" aria-label="default input example" readonly></div>
            </div>
            <div class="row">
                <div class="col-6 col-label">Handled Subjects: <input class="form-control" type="text" value="ITS 102, ITS202, GE12" aria-label="default input example" readonly></div>
                <div class="col-6 col-label">Time Availability: <input class="form-control" type="text" value="{{ request.user.instructor.time_availability }}" aria-label="default input example" readonly></div>
              </div>
           
            <div class="row">
                <div class="d-grid gap-2 d-md-flex justify-content-end">
                    <button class="btn btn-default btn-edit-profile" type="button">Edit Profile</button>
                </div>
            </div>
        </div>
        
    </div>
</div>


<p class="fs-5 text-start user-page-title">Schedules</p>
<hr>
<section class="section-profile-content">
    <nav id="navbar-example2" class="navbar sticky-top bg-body-tertiary px-3 mb-3">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading1">View Schedules</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading2">View Calendar</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#scrollspyHeading3">Feedback</a>
          </li>
        </ul>
      </nav>
      <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-body-tertiary p-3 rounded-2" tabindex="0">
        <div class="container-fluid container-nav-schedule" id="scrollspyHeading1">
            <h4 class="text-start">Schedules</h4>
                <table class="table table-hover table-striped">
                    <thead class="table-light">
                      <tr>
                        <th scope="col">Course</th>
                        <th scope="col">Instructor</th>
                        <th scope="col">Room</th>
                        <th scope="col">Time</th>
                        <th scope="col">Days of Week</th>
                        <th scope="col">Semester</th>
                        <th scope="col">Year</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">CAS</th>
                        <td>
                          <img
                            src="{% static 'img/me.jpg' %}"
                            style="width: 50px; height: 50px; border-radius: 50%"
                          />
                          Mark
                        </td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>T-TH</td>
                        <td>1st Semester</td>
                        <td>2023-2024</td>
                        
                      </tr>
      
                      <tr>
                        <th scope="row">CAS</th>
                        <td>
                          <img
                            src="{% static 'img/me.jpg' %}"
                            style="width: 50px; height: 50px; border-radius: 50%"
                          />
                          Mark
                        </td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>T-TH</td>
                        <td>1st Semester</td>
                        <td>2023-2024</td>
                      </tr>
      
                      <tr>
                        <th scope="row">CAS</th>
                        <td>
                          <img
                            src="{% static 'img/me.jpg' %}"
                            style="width: 50px; height: 50px; border-radius: 50%"
                          />
                          Mark
                        </td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>T-TH</td>
                        <td>1st Semester</td>
                        <td>2023-2024</td>
                      </tr>
      
                      <tr>
                        <th scope="row">CAS</th>
                        <td>
                          <img
                            src="{% static 'img/me.jpg' %}"
                            style="width: 50px; height: 50px; border-radius: 50%"
                          />
                          Mark
                        </td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>T-TH</td>
                        <td>1st Semester</td>
                        <td>2023-2024</td>
                      </tr>
      
                      <tr>
                        <th scope="row">CAS</th>
                        <td>
                          <img
                            src="{% static 'img/me.jpg' %}"
                            style="width: 50px; height: 50px; border-radius: 50%"
                          />
                          Mark
                        </td>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>T-TH</td>
                        <td>1st Semester</td>
                        <td>2023-2024</td>
                      </tr>
                    </tbody>
                </table> 
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-end">
            <button class="btn btn-default btn-edit-profile" type="button">Edit Schedule</button>
        </div>
        
        <div class="container-fluid container-nav-calendar" id="scrollspyHeading2">
            <h4 class="text-start">Calendar</h4>
           
        </div>
        <hr>
        <div class="container-fluid container-nav-feedback" id="scrollspyHeading3">
            <h4 class="text-start">Feedback</h4>
            <div class="container-sm container-feedback">
              <p class="fs-4 text-center">Feedback Time!</p>
              <p class="fs-5 text-center">How satisfied were you when using the system?</p>
              
              <div class="scale">
                <input type="radio" class="btn-check" name="options-base" id="option1" autocomplete="off">
                <label class="btn" for="option1"><i class="bi bi-emoji-angry"></i>Angry</label>
                
                <input type="radio" class="btn-check" name="options-base" id="option2" autocomplete="off">
                <label class="btn" for="option2"><i class="bi bi-emoji-frown"></i>Sad</label>
                
                <input type="radio" class="btn-check" name="options-base" id="option3" autocomplete="off" checked>
                <label class="btn" for="option3"><i class="bi bi-emoji-neutral"></i>Neutral</label>
                  
                <input type="radio" class="btn-check" name="options-base" id="option4" autocomplete="off">
                <label class="btn" for="option4"><i class="bi bi-emoji-smile"></i>satisfied</label>

                <input type="radio" class="btn-check" name="options-base" id="option5" autocomplete="off">
                <label class="btn" for="option5"><i class="bi bi-emoji-laughing"></i>Very satisfied</label>
            </div>

            <p class="fs-5 text-center">Leave a comment</p>
            <div class="mb-3">
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <div class="col-12">
              <button class="btn btn-default btn-feedback " type="submit">Submit</button>
            </div>
            </div>
        </div>
    </div>
</section>

<!--END Profile PAGE-->
{% include "_footer.html" %}
