
{% include "home_header.html" %} {% load static %} 
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>

<!--Profile PAGE-->.
<p class="fs-5 text-start user-page-title">User Profile</p>
<hr>
<div class="container-lg container-profile">
    <div class="row">
        <div class="col-sm-4 card-profile" style="">
            <img src="{{ request.user.instructor.profile_picture.url }}" class="card-img-top" alt="Profile Picture">
              <h5 class="card-title"> {{ request.user.instructor.firstName }}, {{ request.user.instructor.lastName }} </h5>
              <p class="card-text">Instructor</p>
          </div>
        <div class="col-sm-8 profile-info">
          {% csrf_token %}
          <form id="profile-update-form" method="POST" enctype="multipart/form-data" >
            <div class="row row-first">
                <div class="col-sm col-label">First Name: <input class="form-control" type="text" id="id_firstName" name="firstName" value="{{ request.user.instructor.firstName }} " aria-label="default input example" readonly></div>
                <div class="col-sm col-label">Last Name: <input class="form-control" type="text" id="id_lastName" name="lastName" value="{{ request.user.instructor.lastName }} " aria-label="default input example" readonly></div>
                <div class="col-sm col-label">Middle Name: <input class="form-control" type="text" id="id_middleName" name="middleName" value="{{ request.user.instructor.middleName }} " aria-label="default input example" readonly></div>
                <div class="col-sm col-label">Gender: <input class="form-control" type="text" id="id_gender" name="gender" value="{{ request.user.instructor.gender }} " aria-label="default input example" readonly></div>
            </div>
            <div class="row">
              <div class="col-sm col-label">Date of Birth: <input class="form-control" type="text" name="birthday" id="id_birthday" value="{{ request.user.instructor.birthday }}" aria-label="default input example" readonly></div>
                <div class="col col-label">Contact Number: <input class="form-control" type="text" name="contact" id="id_contact" value="{{ request.user.instructor.contact }}" aria-label="default input example" readonly></div>
                <div class="col col-label">Email: <input class="form-control" type="email" name="email" id="id_email" value="{{ request.user.instructor.email }}" aria-label="default input example" readonly></div>
            </div>
            <div class="row">
              <div class="col-sm col-label">Address: <input class="form-control" type="text" name="address" id="id_address" value="{{ request.user.instructor.address }}" aria-label="default input example" readonly></div>
                <div class="col col-label">College: <input class="form-control" type="text" id="id_college" name="college" value="{{ request.user.instructor.college }}" aria-label="default input example" readonly></div>
                <div class="col col-label">Time Availability: <input class="form-control" type="text" name="status" id="id_status" value="{{ request.user.instructor.status }}" aria-label="default input example" readonly></div>
              </div>


              <div class="row">
                <div class="col col-label">Handled Courses: 
                  <select id="id_course_handled_profile" class="form-select form-profile-course" name="course_handled" readonly >
                    {% for course in request.user.instructor.course_handled.all %}
                      <option value="{{ course.course_name }}">{{ course.course_name }}</option>
                    {% endfor %}
                  </select>
                </div>

                <div class="col col-label">Handled Sections: 
                  <select id="id_section_handled_profile" class="form-select form-profile-section" name="section_handled" readonly >
                    {% for section in request.user.instructor.section_handled.all %}
                      <option value="{{ section.program_section }}">{{ section.program_section }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>


            <div class="row">
                <div class="d-grid gap-2 d-md-flex justify-content-end">
                    <a href="{% url 'editprofile' id=request.user.instructor.id %}" class="btn btn-default btn-edit-profile" id="btnEditProfile" type="button">Edit Profile</a>
                </div>
            </div>
          </form>
        </div>
        
    </div>
</div>


<p class="fs-5 text-start user-page-title">Schedules</p>


<hr>
<section class="section-profile-content">
    <nav id="navbar-example2" class="navbar sticky-top bg-body-tertiary px-3 mb-3">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="#ViewSchedules">View Schedules</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#ViewCalendar">View Calendar</a>
          </li>
        
        </ul>
      </nav>
      <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -10%" data-bs-smooth-scroll="true" class="scrollspy-example p-3 rounded-2" tabindex="0">
        <div class="container-fluid table-responsive container-nav-schedule" id="ViewSchedules">
            <h4 class="text-start">Schedules</h4>

                <table class="table table-hover table-striped caption-top">
                    <thead class="table-dark">
                      <tr>
                        <th scope="col">Course</th>
                        <th scope="col">Instructor</th>
                        <th scope="col">Section</th>
                        <th scope="col">Room</th>
                        <th scope="col">Time</th>
                        <th scope="col">Days of Week</th>
                        <th scope="col">Semester</th>
                        <th scope="col">Year</th>
                      </tr>
                    </thead> 
                    <tbody>
                      {% for schedule in instructorSchedule %}
                      <tr>
                        <td>{{ schedule.course.course_name }}</td>
                        <td>
                          <img
                            src="{{ request.user.instructor.profile_picture.url }}"
                            style="width: 50px; height: 50px; border-radius: 50%"
                          />
                          {{ request.user.instructor.firstName }},  {{ request.user.instructor.lastName }}
                        </td>
                        <td>{{ schedule.section }}</td>
                        <td>{{ schedule.room.room_name }}</td>
                        <td>{{ schedule.start_time }} - {{ schedule.end_time }}</td>
                        <td>{{ schedule.days_of_week }}</td>
                        <td>{{ schedule.semester }}</td>
                        <td>{{ schedule.year }}</td>
                      </tr> 
                      {% endfor %}
                    </tbody>
                </table> 
        </div>
        
        <div class="container-fluid container-nav-calendar" id="ViewCalendar">
            <h4 class="text-start">Calendar</h4>
            <div id='calendarProfilePage'></div>
        </div>

       
              
</section>

<div class="container-fluid container-teaching-load" >
  <div class="row row-user-info">
    <div class="container-fluid container-user-info" id="instructor-info">
        <h4>Teaching Load</h4>
            <div class="container-fluid table-responsive container-instructor-schedule" id="ViewSchedules">
                    <table class="table table-hover table-bordered caption-top">
                        <caption>
                          Your teaching assignment in the College of Arts and Sciences (CAS) this semester is as follows. Please report to your
                          assignment as approved by the University President.
                        </caption>
                        <thead >
                          <tr>
                            <th scope="col">Period</th>
                            <th scope="col">Course Code and Title</th>
                            <th scope="col">Room</th>
                            <th scope="col">No. Student</th>
                          </tr>
                        </thead>  
                        <tbody>
                          {% for summary in instructorSchedule %}
                          <tr>
                            <td>{{ summary.start_time }} - {{ summary.end_time }} ({{ summary.days_of_week }})</td>
                            <td>
                              {{ summary.course }} 
                              ({{ summary.course.credits }} Units/
                              {{ summary.course.hours }} Hours )

                            </td>
                            <td>{{ summary.room }}</td>
                            <td>{{ summary.section}} {{ summary.number_students}}</td>
                          </tr>  
                          {% endfor %}
                          
                          <thead >
                          <tr>
                            <th scope="col">Total No. of Preparation:</th>
                            <td colspan="3"></td>
                          </tr>
                          <tr>
                            <th scope="col">Total No. of Units</th>
                            <td colspan="3"></td>
                          </tr>
                          <tr>
                            <th scope="col">Total No. of Hours Week</th>
                            <td colspan="3"></td>
                          </tr>
                        </thead> 
 
                          <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>  
                          <tr>
                            <th colspan="4" style="text-align: center;"> {{ instructor_data.status }} </th>
                          </tr>
                        </tbody>
                    </table>  
            </div>
    </div>
  </div>
</div> 

<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-success btn-profile-print" type="button" onclick="captureAndPrint()">Print TeachingLoad</button>
</div>

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var calendarEl = document.getElementById('calendarProfilePage');

    var calendar = new FullCalendar.Calendar(calendarEl, {
        timeZone: 'UTC',
        initialView: 'timeGridWeek',
        headerToolbar: {
            right: 'timeGridWeek,timeGridDay'
        },
        dayHeaderFormat: { weekday: 'short' },
        slotMinTime: '07:00:00',
        slotMaxTime: '21:00:00',
        events:  {{ events | safe }}
    });

    calendar.render();
  });
</script> 

<script>
  function captureAndPrint() {
    // Get the div element to capture
    var element = document.querySelector('.container-teaching-load');

    // Use html2canvas to capture the screenshot
    html2canvas(element, {
      scale:6,
    }).then(function(canvas) {
        // Convert canvas to image data URL
        var imageData = canvas.toDataURL();

        // Create a new image element
        var img = new Image();
        img.src = imageData;

        // Create a new window to display the captured image
        var newWindow = window.open('', '_blank');
        newWindow.document.write('<img src="' + imageData + '" style="width:100%;">');

        newWindow.print();
    });
  }
</script>
<!--END Profile PAGE-->
{% endblock %}
{% include "_footer.html" %}
 