{% include "home_header.html" %}
{% block content %}


  
<div class="container-sm container-profile-edit">
  <a href="{% url 'profile'%}" type="submit" id="save-subject-btn" class="btn btn-outline-secondary btn-back-profile"><i class="bi bi-arrow-left"></i>Back to Profile page</a>
  <p class="fs-5 text-start">Personal Information</p>
  <hr>
    <div class="row g-3 ">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {{ instructorform.as_p }} 
        <p class="fs-6 text-start">Hold down “Control” to select more than one or remove subject.</p>
  
        <div class="row">
          <div class="col col-label">Handled Courses: 
              {% for course in instructorform.instance.course_handled.all %}
              <li>{{ course.course_name }}</li>
              {% endfor %}
          </div>
        </div>

        <div class="row">
          <div class="col col-label">Handled Sections: 

              {% for section in instructorform.instance.section_handled.all %}
                  <li>{{ section.program_section }}</li>
              {% endfor %}
          </div>
      </div>
        <div class="d-grid col-3 mx-auto ">
          <button type="submit" class="btn btn-success">Save</button>
        </div>


      

      </form>
  </div>
</div>
   
   
{% endblock %}
{% include "_footer.html" %}