{% include "_header.html" %}{% load static %} 
{% block content %}
<br>


    <div class="container-sm container-update-page" id="container-room-edit">
        <a href="{% url 'subject'%}" type="submit" id="save-subject-btn" class="btn btn-outline-secondary"><i class="bi bi-arrow-left"></i>Back to Subject</a>
 
        <div class="row">
        <div class="col-sm col-subject-edit" id="col-subject-edit">
            <form id="subject-form" method="POST" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>

            {% csrf_token %}
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="room_name" id="id_room_name" value="{{ roomform.instance.room_name }}" placeholder="Room name" required>
                <label for="id_room_name">Room name</label>
                <div class="invalid-feedback">
                Please Enter Room Name.
                </div>
            </div>
            <div class="form-floating mb-3">
                <input type="text" class="form-control" name="college" id="id_college" value="{{ roomform.instance.college }}" placeholder="College" required>
                <label for="id_college">College</label>
                <div class="invalid-feedback">
                Please Enter College.
                </div>
            </div>

            <button type="submit" id="save-subject-btn" class="btn btn-success">Save changes</button>
        </form>
    </div>


    
{% endblock %}
{% include "_footer.html" %}