{% include "_header.html" %} {% load static %} 
{% block content %}
 
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>

{% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}


<div class="container-fluid cotainer-room-list">
    <div class="row">
        <!--Room Table-->
        <div class="col-sm col-rooms">
            <p class="fs-5 text-start user-page-title">Room Page</p>
            <hr>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <div class="row row-room-allocation">
                    <div class="col-sm">
                        <form class="d-flex" role="search">
                            <input class="form-control me-2" type="search" id="searchRoom" placeholder="Search Room" aria-label="Search">
                        </form>
                    </div>
                    <div class="col-sm">
                    <select class="form-select" id="category-college" style="width:auto;" aria-label="Default select example">
                        <option value="all" selected>All Colleges</option>
                        <option value="CAS">College of Arts and Sciences</option>
                        <option value="CBA">College of Business Administration</option>
                        <option value="CIT">College of Industrial Technology</option>
                        <option value="CTED">College of Teacher Education</option>
                        <option value="CCJE">College of Criminal Justice Education</option>
                        <option value="CAF">College of Agriculture and Forestry</option>
                    </select>
                    </div>
                
                    <div class="col-sm">
                    <select class="form-select" id="category-year-level" style="width:auto;" aria-label="Default select example" placeholder="Select College">
                        <option value="all" selected>School Year</option>
                        <option value="1st Year">1st Year</option>
                        <option value="2nd Year">2nd Year</option>
                        <option value="3rd Year">3rd Year</option>
                        <option value="4th Year">4th Year</option>
                    </select>
                    </div>

                    <div class="col-sm">
                    <select class="form-select" id="category-semester" style="width:auto;" aria-label="Default select example">
                        <option value="all" selected>All Semester</option>
                        <option value="1st Semester">1st Semester</option>
                        <option value="2nd Semester">2nd Semester</option>
                        <option value="Summer">Summer</option>

                    </select>
                    </div>
                </div>
            </div>
        </nav>
        <section class="section-room-list">
            <div class="container-fluid container-room-list">
                <div class="table-responsive">
                    <table class="table caption-top">
                        <caption><button class="btn btn-default" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdropRoom"><i class="bi bi-plus-circle"></i>Add New Room</button></caption>
                        <thead class="table-dark">
                        <tr>
                            <th scope="col">Room Name</th>
                            <th scope="col">College</th>
                            <th scope="col">Room Type</th>
                            <th scope="col">Action</th>
                        </tr> 
                        </thead>
                        <tbody id="room-table-body">
                        {% for room in rooms %}
                        <tr data-college="{{ room.college }}">
                            <th scope="row">{{ room.room_name }}</th>
                            <td>{{ room.college }}</td>
                            <td>{{ room.room_type }}</td>
                            <td><a href="{% url 'deleteroom' id=room.id %}" type="button" class="btn btn-danger btn-sm"  onclick="return confirm('Are you sure you want to delete?');"><i class="bi bi-trash-fill"></i></a>
                            <a href="{% url 'editroom' id=room.id %}" type="button" class="btn btn-secondary btn-sm" id="buttonEdit" ><i class="bi bi-pen-fill" style="color:#fff;"></i></a></td>
                        </tr>
                        
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

            <!-- Modal Add Room-->
            <div class="modal fade" id="staticBackdropRoom" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add New Room</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!--Add Room Form-->
                    <form method="POST" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
                        {% csrf_token %}

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="room-room_name" required id="id_room-room_name" placeholder="Room name" required>
                            <label for="id_room-room_name">Room name</label>
                            <div class="invalid-feedback">
                            Please Enter Room Name.
                            </div>
                        </div>
                        
                        <select id="id_room-college" class="form-select form-select-room" name="room-college" placeholder="College" required>
                            <option selected>Choose College</option>
                            <option value="CAS">College of Arts and Sciences</option>
                            <option value="CBA">College of Business Administration</option>
                            <option value="CIT">College of Insdustrial Technology</option>
                            <option value="CTED">College of Teacher Education</option>
                            <option value="CCJE">College of Criminal Justice Education</option>
                            <option value="CAF">College of Agriculture and Forestry</option>
                            <option value="Other">Other</option>
                        </select>
                    
                        <select id="id_room-room_type" class="form-select form-select-room_type" name="room-room_type" placeholder="Room Type" required>
                            <option selected>Choose Room Type</option>
                            <option value="Lecture">Lecture</option>
                            <option value="Lab and Lecture">Lab and Lecture</option>
                        </select>
                        

                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" name="add_room">Save</button>
                    </div>
                </form>
                </div>
                </div>
            </div>
        </div>

    </div>
</div>
<hr>
<p class="fs-5 text-start user-page-title">Schedule for Each Room</p>
 

{% for room_data in room_events %}
<div class="container-fluid container-room-allocation" id="room-table-{{ room_data.room_name }}" data-college="{{ room_data.college }}">
    <p class="text-start" style="font-weight: 800;" >Room Name: {{ room_data.room_name }}</p>
        <div class="container-fluid" >
            <div class="row">
                <div class="col-sm">
                    <div class="calendarRoomAllocation"></div>
                </div>
            </div>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button class="btn btn-default" type="button" data-room-name="{{ room_data.room_name }}"  onclick="captureAndPrint(this)">Print<i class="bi bi-printer"></i></button>
        </div>
</div>
{% endfor %}

   
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendars = document.querySelectorAll('.calendarRoomAllocation');
        var room_events = {{ room_events|safe }}

        calendars.forEach(function(calendarEl, index) {
            var room_data = room_events[index];

            var calendar = new FullCalendar.Calendar(calendarEl, {
                timeZone: 'UTC',
                initialView: 'timeGridWeek',
                headerToolbar: {
                    right: 'timeGridWeek,timeGridDay'
                },
                dayHeaderFormat: { weekday: 'short' },
                slotMinTime: '07:00:00',
                slotMaxTime: '21:00:00',
                events: room_data.events,
            });

            calendar.render();
        });
    });
  
</script>


<script>
    document.addEventListener("DOMContentLoaded", function() {
        const searchInput = document.getElementById('searchRoom');
        const tableRows = document.querySelectorAll('#room-table-body tr');
  
        searchInput.addEventListener('input', function() {
            const searchText = this.value.trim().toLowerCase();
            tableRows.forEach(row => {
                const course_name = row.querySelector('th').textContent.trim().toLowerCase();
                if (course_name.includes(searchText)) {
                    row.style.display = '';
                } else {
                    row.style.display = 'none';
                }
            });
        });
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        filterElements();
        
        document.getElementById('category-college').addEventListener('change', function() {
            filterElements();
        });
    
        document.querySelectorAll('.form-select').forEach(function(select) {
            select.addEventListener('change', function() {
                filterElements();
            });
        });
    });
    
    function filterElements() {
        var selectedCollege = document.getElementById('category-college').value;
        
        document.querySelectorAll('.container-room-allocation').forEach(function(roomContainer) {
            var roomCollege = roomContainer.dataset.college;
            roomContainer.style.display = (selectedCollege === 'all' || roomCollege === selectedCollege) ? '' : 'none';
        });
    
        document.querySelectorAll('#room-table-body tr').forEach(function(row) {
            var college = row.getAttribute('data-college');
            row.style.display = (selectedCollege === 'all' || college === selectedCollege) ? '' : 'none';
        });
    }
</script>

<script>
    //function printRoom(printButton) {
        // Get the room name from the button's data-room-name attribute
       // const roomName = printButton.dataset.roomName;
      
        // Find the container element to print using its ID (constructed with room name)
      //  const containerToPrint = document.getElementById(`room-table-${roomName}`);
      
        // Create a new window specifically for printing
      //  const printWindow = window.open('', 'PrintRoom');
      
        // Set the document content of the print window to the container's HTML
       // printWindow.document.write(containerToPrint.outerHTML);
      
        // Focus the print window and trigger the print dialog
        //printWindow.focus();
       // printWindow.print();
      
        // Close the print window after printing (optional)
        // printWindow.close(); // Uncomment if you want to close automatically
    //  }
</script>

<script>
    function printRoom(roomId) {
        var printContents = document.getElementById(roomId).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>



<script>
    function captureAndPrint(button) {
        var container = button.closest('.container-room-allocation');
      
        html2canvas(container, {
            scale: 2,
        }).then(function(canvas) {
            var imageData = canvas.toDataURL();
    
            var img = new Image();
            img.src = imageData;
    
            var newWindow = window.open('', '_blank');
            newWindow.document.write('<img src="' + imageData + '" style="width:100%;">');
    
            newWindow.print();
        });
    }
  </script>

  
{% endblock %}
{% include "_footer.html" %}