{% include "_header.html" %} {% load static %} 
{% block content %}
 
<div class="container-fluid">
    <div class="row">

        <!--Room Table-->
        <div class="col-sm col-rooms">
            <p class="fs-5 text-start user-page-title">Rooms</p>
            <hr>
            <div class="table-responsive">
                <table class="table caption-top">
                    <caption><button class="btn btn-default" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdropRoom"><i class="bi bi-plus-circle"></i>Add New Room</button></caption>
                    <thead class="table-info">
                    <tr>
                        <th scope="col">Room Name</th>
                        <th scope="col">College</th>
                        <th scope="col">Room Type</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for room in rooms %}
                    <tr>
                        <th scope="row">{{ room.room_name }}</th>
                        <td>{{ room.college }}</td>
                        <td>{{ room.room_type }}</td>
                        <td><a href="{% url 'deleteroom' id=room.id %}" type="button" class="btn btn-danger btn-sm"  onclick="return confirm('Are you sure you want to delete?');"><i class="bi bi-trash-fill"></i></a>
                        <a href="{% url 'editroom' id=room.id %}" type="button" class="btn btn-info btn-sm" id="buttonEdit" ><i class="bi bi-pen-fill" style="color:#fff;"></i></a></td>
                    </tr>
                    
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- Modal Add Room-->
            <div class="modal fade" id="staticBackdropRoom" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add New Room</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!--Add Room Form-->
                    <form method="POST" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
                        {% csrf_token %}

                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" name="room-room_name" required id="id_room-room_name" placeholder="Room name" required>
                            <label for="id_room-room_name">Room name</label>
                            <div class="invalid-feedback">
                            Please Enter Room Name.
                            </div>
                        </div>
                        
                        <select id="id_room-college" class="form-select form-select-room" name="room-college" placeholder="College" required>
                            <option selected>Choose College</option>
                            <option value="CAS">College of Arts and Sciences</option>
                            <option value="CBA">College of Business Administration</option>
                            <option value="CIT">College of Insdustrial Technology</option>
                            <option value="CTED">College of Teacher Education</option>
                            <option value="CCJE">College of Criminal Justice Education</option>
                            <option value="CAF">College of Agriculture and Forestry</option>
                        </select>
                    
                        <select id="id_room-room_type" class="form-select form-select-room_type" name="room-room_type" placeholder="Room Type" required>
                            <option selected>Choose Room Type</option>
                            <option value="Lecture">Lecture</option>
                            <option value="Lab and Lecture">Lab and Lecture</option>
                        </select>
                        

                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" name="add_room">Save</button>
                    </div>
                </form>
                </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="container-fluid">
    <div class="row">
            <div class="col-sm">
                {% for room in rooms %}
                <div class="table-responsive">
                    <table class="table caption-top">
                        <caption style="font-weight: 800;">Room Name: {{ room.room_name }}</caption>
                        <thead class="table-success">
                        <tr>
                            <th scope="col">Room</th>
                            <th scope="col">Course</th>
                            <th scope="col">Instructor</th>
                            <th scope="col">Start Time</th>
                            <th scope="col">End Time</th>
                            <th scope="col">Days of Week</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for schedule in schedules %}
                                {% if schedule.room == room %}
                            <tr>
                                <td >{{ schedule.room.room_name }}</td>
                                <th scope="row">{{ schedule.course.course_name }}</th>
                                <td >Mr/Mrs. {{ schedule.instructor.lastName }}</td>
                                <td>{{ schedule.start_time }}</td>
                                <td>{{ schedule.end_time }}</td>
                                <td>{{ schedule.days_of_week }}</td>
                            </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
    </div>
</div>

{% endblock %}
{% include "_footer.html" %}