{% include "_header.html" %} {% load static %} 
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
 

{% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}

<h4 class="text-start text-schedule">Schedule Page</h4>
<hr>

<div class="container-fluid container-subject-page">
  <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <div class="row">
                <div class="col-sm">
                    <select class="form-select" id="category-college" style="width:auto;" aria-label="Default select example">
                    <option value="all" selected>All Colleges</option>
                    <option value="CAS">College of Arts and Sciences</option>
                    <option value="CBA">College of Business Administration</option>
                    <option value="CIT">College of Industrial Technology</option>
                    <option value="CTED">College of Teacher Education</option>
                    <option value="CCJE">College of Criminal Justice Education</option>
                    <option value="CAF">College of Agriculture and Forestry</option>
                    </select>
                </div>
                <div class="col-sm">
                    <select class="form-select" id="category-year-level" style="width:auto;" aria-label="Default select example" placeholder="Select College">
                    <option value="all" selected>All Year Level</option>
                    <option value="1st Year">1st Year</option>
                    <option value="2nd Year">2nd Year</option>
                    <option value="3rd Year">3rd Year</option>
                    <option value="4th Year">4th Year</option>
                    </select>
                </div>
                <div class="col-sm">
                    <select class="form-select" id="category-semester" style="width:auto;" aria-label="Default select example">
                    <option value="all" selected>All Semester</option>
                    <option value="1st Semester">1st Semester</option>
                    <option value="2nd Semester">2nd Semester</option>
                    <option value="Summer">Summer</option>

                    </select>
                </div> 
                 
                <div class="col-sm">
                  <button class="btn btn-dark" type="button" style="width:150px;" data-bs-toggle="modal" data-bs-target="#addScheduleModal">Add Schedule</button>
                </div>
                <div class="col-sm " >
                  <button class="btn btn-warning position-relative" type="button" data-bs-toggle="modal" data-bs-target="#viewConflictModal" >No. of Conflicts  
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                      {{ total_conflicts }}
                    <span class="visually-hidden">unread messages</span>
                  </span></a>
              </div>
            </div>
        </div>
    </nav>
</div>
 
<div class="container-fluid container-schedule-page">
  
      <!--View Schedule Tab-->
      <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
                <div class="row row-schedule-panel">
                  
                    <!--Instructor Carousel-->
                        <div class="owl-carousel owl-theme"> 
                            {% for instructor in instructors %}
                            <a href="{% url 'instructorschedule' id=instructor.id %}" class="schedule-link">
                                <div class="item">
                                    <img src="{{ instructor.profile_picture.url }}" class="card-img-top" alt="...">
                                    <p class="fs-6 text-center">{{ instructor.lastName }}, {{ instructor.firstName }} </p>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                </div> 
    
                <!--User Schedule Tab-->
                <hr>
                <div class="row row-user-info">
                    <div class="container-fluid container-user-info" id="instructor-info">
                        <h4>User Schedule</h4>
                            <!--Table View Tab-->
                            <div class="container-fluid table-responsive container-instructor-schedule-page" id="ViewSchedules">
                                    <table class="table table-hover table-striped caption-top">
                                        <caption>
                                        </caption>
    
                                        <thead class="table-dark">
                                          <tr>
                                            <th scope="col">Course</th>
                                            <th scope="col">Instructor</th>
                                            <th scope="col">Room</th>
                                            <th scope="col">Section</th>
                                            <th scope="col">Time</th>
                                            <th scope="col">Days of Week</th>
                                            <th scope="col">Semester</th>
                                            <th scope="col">Year</th>
                                            <th scope="col">Action</th>
                                          </tr>
                                        </thead> 
                                        <tbody>
                                          {% for schedule in instructorSchedule %}
                                          <tr>
                                            <td>{{ schedule.course.course_name }}</td>
                                            <td>
                                              <img
                                                src="{{ schedule.instructor.profile_picture.url }}"
                                                style="width: 50px; height: 50px; border-radius: 50%"
                                              /> 
                                              {{ schedule.instructor.firstName }}, {{ schedule.instructor.lastName }}
                                            </td>
                                            <td>{{ schedule.room.room_name }}</td>
                                            <td>{{ schedule.section }}</td>
                                            <td><span class="start-time">{{ schedule.start_time  }}</span> - <span class="end-time">{{ schedule.end_time }}</span></td>
                                            <td>{{ schedule.days_of_week }}</td>
                                            <td>{{ schedule.semester }}</td>
                                            <td>{{ schedule.year }}</td>
                                            <td>
                                              <a href="#" type="button" class="btn btn-danger"  onclick="return confirm('Are you sure you want to delete?');"><i class="bi bi-trash-fill"></i></a>
                                              <a href="{% url 'editschedule' id=schedule.id %}" type="button" class="btn btn-secondary" id="buttonEdit" ><i class="bi bi-pen-fill" style="color:#fff;"></i></a>
                                            </td>
                                          </tr>  
                                          {% endfor %}
                                        </tbody>
                                    </table>  
                            </div>
                            <!--Calendar View Tab-->
                            <div class="container-fluid container-schedule-calendar">
                                <div id='calendarSchedulePage'></div>
                            </div>
                            <!--Teaching Load View Tab-->
                            <div class="container-fluid container-teaching-load-schedule" >
                              <div class="row row-user-info">
                                <div class="container-fluid container-user-info" id="instructor-info">
                                    <h4>Teaching Load</h4>
                                        <div class="container-fluid table-responsive container-instructor-loadslip" id="ViewSchedules">
                                                <table class="table table-hover table-bordered caption-top">
                                                    <caption>
                                                      Your teaching assignment in the College of Arts and Sciences ({{ schedules.college }}) this semester is as follows. Please report to your
                                                      assignment as approved by the University President.
                                                    </caption>
                                                    <thead >
                                                      <tr>
                                                        <th scope="col">Period</th>
                                                        <th scope="col">Course Code and Title</th>
                                                        <th scope="col">Room</th>
                                                        <th scope="col">No. Student</th>
                                                      </tr>
                                                    </thead>  
                                                    <tbody>
                                                      {% for summary in instructorSchedule %}
                                                      <tr>
                                                        <td>{{ summary.start_time }} - {{ summary.end_time }} ({{ summary.days_of_week }})</td>
                                                        <td>
                                                          {{ summary.course }} 
                                                          ({{ summary.course.credits }} Units/
                                                          {{ summary.course.hours }} Hours )
                            
                                                        </td>
                                                        <td>{{ summary.room }}</td>
                                                        <td>{{ summary.section}} {{ summary.section.number_students}}</td>
                                                      </tr>  
                                                      {% endfor %}
                                                       
                                                      <thead >
                                                      <tr>
                                                        <td colspan="4"></td>
                                                      </tr>
                                                     
                                                      <tr>
                                                        <th scope="col">Total No. of Preparation:</th>
                                                        <td colspan="3" style="text-align: center;">idk</td>
                                                      </tr>
                                                      <tr>
                                                        <th scope="col"></th>
                                                        <th scope="col" style="text-align: center;">Regular</th>
                                                        <th colspan="2" scope="col" style="text-align: center;">Overload</th>
                                                      </tr>
                                                      <tr>
                                                        <th scope="col">Total No. of Units</th>
                                                        <td scope="col" style="text-align: center;">{{ total_units }} units</td>
                                                        <td colspan="3" style="text-align: center;">0</td>
                                                      </tr>
                                                      <tr>
                                                        <th scope="col">Total No. of Hours Week</th>
                                                        <td scope="col" style="text-align: center;">{{ total_hours }} hrs</td>
                                                        <td colspan="3" style="text-align: center;">0</td>
                                                      </tr>
                                                    </thead> 
                             
                                                      <tr>
                                                        <th colspan="4" style="text-align: center;">{{ schedules.status }} </th>
                                                      </tr>
                                                    </tbody>
                                                </table>  
                                                <p class="text-center fw-normal">Please strictly follow the schedule (day and time) and the room
                                                  assignment in the teaching load. Thank you. </p>
                                                  <br>
                                                <div class="row">
                                                    <div class="col-sm">
                                                      <p class="text-center fw-bold ">Conforme: <span class="text-name">{{ schedules.firstName }} {{ schedules.lastName }}, </span> <span><input class="input-title" type="text" placeholder="Enter Title"></span> </p>
                                                    </div>
                                                    <div class="col-sm-3">
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                  <div class="col-sm">
                                                    <p class="text-center text-extra">Prepared by:</p>
                                                  </div>
                                                  <div class="col-sm">
                                                    <p class="text-center"></p>
                                                  </div>
                                                  <div class="col-sm">
                                                    <p class="text-center"></p>
                                                  </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                  <div class="col-sm">
                                                    <p class="text-center fw-bold "><span class="text-name">Arnel M. Yurfo, </span> </p>
                                                    <p class="text-center text-title">Dean, College of Arts and Sciences</p>
                                                  </div>
                                                  <div class="col-sm">
                                                    <p class="text-center"></p>
                                                  </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                  <div class="col-sm">
                                                    <p class="text-center text-extra">Noted by:</p>
                                                  </div>
                                                  <div class="col-sm">
                                                    <p class="text-center"></p>
                                                  </div>
                                                  <div class="col-sm">
                                                    <p class="text-center"></p>
                                                  </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                  <div class="col-sm">
                                                    <p class="text-center fw-bold "><span class="text-name">Liza J. Caballero, </span> Ed.D. </p>
                                                    <p class="text-center text-title">Asst. Campus Admin for Academics</p>
                                                  </div>
                                                  <div class="col-sm">
                                                    <p class="text-center fw-bold "><span class="text-name">Francis M. Galon,</span> Ph.D.  </p>
                                                    <p class="text-center text-title">Asst. Campus Admin for Administration</p>
                                                  </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                  <div class="col-sm">
                                                    <p class="text-center text-extra">Recommending Approval:</p>
                                                  </div>
                                                  <div class="col-sm">
                                                    <p class="text-center"></p>
                                                  </div>
                                                  <div class="col-sm">
                                                    <p class="text-center"></p>
                                                  </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                  <div class="col-sm">
                                                    <p class="text-center fw-bold "><span class="text-name">Rosemarie T. Pinili, </span> Ed.D, Ph.D. </p>
                                                    <p class="text-center text-title">Asst. Campus Admin for Academics</p>
                                                  </div>
                                                  <div class="col-sm">
                                                  </div>
                                                </div>
                                                <div class="row">
                                                  <div class="col-sm">
                                                    <p class="text-center">Approved:</p>
                                                    <p class="text-center fw-bold "><span class="text-name">Hon. Joel P. Limson, </span> Ph.D. </p>
                                                    <p class="text-center text-title">University President</p>
                                                  </div>
                                                </div>
                                        </div>
                                        
                                </div>
                              </div>
                            </div>  
                            
                          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-success btn-profile-print" type="button" onclick="captureAndPrint()">Print TeachingLoad</button>
                          </div>

     
                            <!--No Schedule Subject Tab
                            <div class="container-fluid container-schedule-loadslip">
                              <h4 class="text-start text-schedule">Subject That don't have schedules</h4>
 
                          </div>      -->
                    </div>
                </div>
            </div>
    
         

      <!-- Modal Add Schedule-->
      <div class="modal fade" id="addScheduleModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Add New Schedule </h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <br>

              <!--Add Schedule Form-->
            <form method="POST" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
                {% csrf_token %}
                <!-- {{ scheduleform.as_p }} --> 
              
                  
                  <div class="col-sm">
                    <select class="form-select mb-4 select-subject-instructor" name="instructor" id="id_instructor"  aria-label="Default select example">
                      <option selected>Select Instructor</option>
                      {% for instructor in instructors %}
                      <option value="{{ instructor.id }}" {% if instructor.id == scheduleform.instance.instructor_id %} selected {% endif %}>
                        {{ instructor.firstName }} {{ instructor.lastName }}
                      </option>
                      {% endfor %}
                    </select>
                  </div>  

                  <div class="col-sm">
                    <select class="form-select mb-4 select-subject-name" name="course" id="id_course" aria-label="Default select example">
                      <option selected>Select Subject Name</option>
                      {% for course in courses %}
                      <option value="{{ course.id }}" {% if course.id == scheduleform.instance.course.id %} selected {% endif %}>{{ course.course_name }}</option>
                      {% endfor %}
                    </select>
                  </div>
                
                  <div class="col-sm">
                    <select class="form-select mb-4 select-section-name" name="section" id="id_section" aria-label="Default select example">
                      <option selected>Select Section </option>
                      {% for section in sections %}
                      <option value="{{ section.program_section }}" {% if section.id == scheduleform.instance.section.id %} selected {% endif %}>{{ section.program_section }}</option>
                      {% endfor %}
                    </select>
                  </div>
                
                  <div class="col-sm">
                    <select class="form-select mb-4 select-subject-room" name="room" id="id_room" aria-label="Default select example">
                      <option selected>Select Room</option>
                      {% for room in rooms %}
                      <option value="{{ room.id }}" {% if room.id == scheduleform.instance.room.id %} selected {% endif %}>{{room.room_name}}</option>
                      {% endfor %}
                    </select>
                  </div>  
                
              
              
                <div class="form-floating mb-3">
                  <input type="time" class="form-control" name="start_time" id="id_start_time" placeholder="Start Time" required>
                  <label for="id_start_time">Start Time</label>
                  <div class="invalid-feedback">
                    Please Enter Start Time.
                  </div>
                </div>

                <div class="form-floating mb-3">
                  <input type="time" class="form-control" name="end_time" id="id_end_time" placeholder="End Time" required>
                  <label for="id_end_time">End Time</label>
                  <div class="invalid-feedback">
                    Please Enter End Time.
                  </div>
                </div>

                <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="days_of_week" id="id_days_of_week" placeholder="Days of Week" required>
                  <label for="id_days_of_week">Days of Week: Ex. M-W-F or Saturday</label>
                  <div class="invalid-feedback">
                    Please Enter Days of Week.
                  </div>
                </div>

                <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="semester" id="id_semester" placeholder="Semester" required>
                  <label for="id_semester">Semester: Ex. 1st Semester</label>
                  <div class="invalid-feedback">
                    Please Enter Semester.
                  </div>
                </div>

                <div class="form-floating mb-3">
                  <input type="text" class="form-control" name="year" id="id_year" placeholder="Year" required>
                  <label for="id_year">Year: Ex. 2024-2025</label>
                  <div class="invalid-feedback">
                    Please Enter Year.
                  </div>
                </div>
                
                </div>
      
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success" >Save</button>
              </div>
            </form>
        </div>
      </div>
</div>


  <!-- Modal Conflicts-->
  <div class="modal fade" id="viewConflictModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Conflicts </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

            <!--View Conflict-->
              <table class="table table-hover table-striped caption-top">
                  <caption>
                  </caption>
                  <thead class="table-danger">
                    <tr>
                      <th scope="col">Days of Week</th>
                      <th scope="col">Semester</th>
                      <th scope="col">Year</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead> 
                  <tbody>
                    <tr>
                      <td></td>
                      <td></td>
                      <td></td>
                      <td></td>
                     
                    </tr>  
                  </tbody>
              </table>  
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-success" >Save</button>
              </div>
      </div>
    </div>
</div>



<script src="{% static 'js/jquery.min.js' %}"></script>
<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js'></script>


<script>
  var eventSchedules = {{ eventSchedules | safe }};

</script>
<!-- TIME FORMAT-->
<script>
  document.addEventListener("DOMContentLoaded", function() {
      var startTimeElements = document.querySelectorAll(".start-time");
      startTimeElements.forEach(function(element) {
          element.textContent = convertTimeTo12HourFormat(element.textContent);
      });

      var endTimeElements = document.querySelectorAll(".end-time");
      endTimeElements.forEach(function(element) {
          element.textContent = convertTimeTo12HourFormat(element.textContent);
      });
  });

  function convertTimeTo12HourFormat(time24) {
      var [hours, minutes] = time24.split(":");
      var period = hours >= 12 ? "PM" : "AM";
      hours = hours % 12 || 12;
      return hours + ":" + minutes + " " + period;
  }
</script>
 
<script>
  function captureAndPrint() {
    var element = document.querySelector('.container-teaching-load-schedule');
    element.style.fontSize = '22px';
    html2canvas(element, {
      scale:6,
    }).then(function(canvas) {
        var imageData = canvas.toDataURL();

        var img = new Image();
        img.src = imageData;

        var newWindow = window.open('', '_blank');
        newWindow.document.write('<img src="' + imageData + '" style="width:100%;">');

        newWindow.print();
    });
  }
</script>

{% endblock %}
{% include "_footer.html" %}

