{% include "_header.html" %} {% load static %} 
{% block content %}
 


<h4 class="text-start text-schedule">Schedule</h4>
<hr>
<div class="container-fluid container-schedule-page">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true"><i class="bi bi-calendar-week"></i>View Schedules</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false"><i class="bi bi-calendar3"></i>Generate Schedule</button>
        </li>
    </ul>
        
        <!--View Schedule Tab-->
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            <div class="row">
                <!--Select Department-->
                <div class="row">
                    <div class="col-5"> 
                        <select class="form-select schedule-department-select" aria-label="Default select example">
                            <option selected>Select Department</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <!--Instructor Carousel-->
                    <div class="owl-carousel owl-theme">
                        <div class="item">
                            <img src="{% static 'img/user1.jpg' %}" class="card-img-top" alt="...">
                            <p class="fs-5 text-center">Name</p>
                        </div>
                        <div class="item">
                            <img src="{% static 'img/user1.jpg' %}" class="card-img-top" alt="...">
                            <p class="fs-5 text-center">Name</p>
                        </div>
                        <div class="item">
                            <img src="{% static 'img/user1.jpg' %}" class="card-img-top" alt="...">
                            <p class="fs-5 text-center">Name</p>
                        </div>
                        <div class="item">
                            <img src="{% static 'img/user1.jpg' %}" class="card-img-top" alt="...">
                            <p class="fs-5 text-center">Name</p>
                        </div>
                        <div class="item">
                            <img src="{% static 'img/user1.jpg' %}" class="card-img-top" alt="...">
                            <p class="fs-5 text-center">Name</p>
                        </div>
                        <div class="item">
                            <img src="{% static 'img/user1.jpg' %}" class="card-img-top" alt="...">
                            <p class="fs-5 text-center">Name</p>
                        </div>
                        <div class="item">
                            <img src="{% static 'img/user1.jpg' %}" class="card-img-top" alt="...">
                            <p class="fs-5 text-center">Name</p>
                        </div>
                        <div class="item">
                            <img src="{% static 'img/user1.jpg' %}" class="card-img-top" alt="...">
                            <p class="fs-5 text-center">Name</p>
                        </div>
                        <div class="item">
                            <img src="{% static 'img/user1.jpg' %}" class="card-img-top" alt="...">
                            <p class="fs-5 text-center">Name</p>
                        </div>
                        <div class="item">
                            <img src="{% static 'img/user1.jpg' %}" class="card-img-top" alt="...">
                            <p class="fs-5 text-center">Name</p>
                        </div>
                        <div class="item">
                            <img src="{% static 'img/user1.jpg' %}" class="card-img-top" alt="...">
                            <p class="fs-5 text-center">Name</p>
                        </div>
                        <div class="item">
                            <img src="{% static 'img/user1.jpg' %}" class="card-img-top" alt="...">
                            <p class="fs-5 text-center">Name</p>
                        </div>
                    </div>
                <hr>
            </div> 

        <!--User Schedule Tab-->
            <div class="row row-user-info">
                <div class="container-fluid container-user-info">
                    <h4>User Schedule</h4>
                    <h5>Instructor Name</h5>
                        <!--Calendar View Tab-->
                        <div class="container-fluid container-schedule-calendar">
                            <div id='calendar'></div>
                        </div>
                        <!--Loadslip View Tab-->
                        <div class="container-fluid container-schedule-loadslip">
                            <h1>Loadslip</h1>
                        </div>                       
                </div>
            </div>
        </div>

        <!--Generate Schedule Tab-->
        <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
            <h1>Generate Schedule</h>
        </div>
    </div>
</div>

{% endblock %}
{% include "_footer.html" %}

