{% include "_header.html" %} {% load static %} 
{% block content %}


<div class="container-sm container-register">
  <a href="{% url 'instructors'%}" type="submit" id="save-subject-btn" class="btn btn-outline-secondary"><i class="bi bi-arrow-left"></i>Back to Instructor Page</a>

  <p class="fs-3 text-center">Register an Account</p>


<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row g-3">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" name="username" autocomplete="username" required id="id_username" placeholder="Enter Username">
      <label for="id_username">Username</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" name="password1" autocomplete="new-password" required id="id_password1" placeholder="Enter Password">
      <label for="id_password1">Password</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" name="password2" autocomplete="new-password" required  id="id_password2" placeholder="Confirm Password">
      <label for="id_password2">Confirm Password</label>
    </div>
    
  </div>
 
  </div>
  <hr>

  <div class="container-sm container-information">
    <p class="fs-5 text-start">Personal Information</p>
    <div class="row g-3 ">
    
      <!--
          {{ instructor_form.as_p }} -->
        <div class="mb-3">
          <label for="id_profile_picture" class="form-label">Upload profile picture</label>
          <input class="form-control" type="file" name="profile_picture" id="id_profile_picture" required>
        </div>
        
        <div class="form-floating col-md-6">
          <input type="text" class="form-control" name="firstName" required id="id_firstName" placeholder="Enter Username">
          <label for="id_firstName">First name</label>
        </div>
      
        <div class="form-floating col-md-6">
          <input type="text" class="form-control" name="lastName" required id="id_lastName" placeholder="Enter Username">
          <label for="id_lastName">Last name</label>
        </div>

        <div class="form-floating col-md-4">
          <input type="text" class="form-control" name="middleName" required id="id_middleName" placeholder="Enter Middle Name">
          <label for="id_middleName">Middle Name</label>
        </div>

        <div class="col-md-7">
          <select id="id_gender" class="form-select form-select-lg" name="gender" required>
            <option selected>Choose gender</option>
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>

        <div class="form-floating col-md-6">
          <input type="email" class="form-control" autocomplete="email" name="email" required id="id_email" placeholder="Enter email">
          <label for="id_email">Email</label>
        </div>

        <div class="form-floating col-md-6">
          <input type="number" class="form-control" name="contact" required id="id_contact" placeholder="Enter Contact">
          <label for="id_contact">Contact Number</label>
        </div>

        <div class="form-floating col-md-4">
          <input type="date" class="form-control" name="birthday" required id="id_birthday" placeholder="Enter Username">
          <label for="id_birthday">Birthdate</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" name="address" autocomplete="address"  required id="id_address" placeholder="Enter Address">
          <label for="id_address">Address</label>
        </div>
        <hr>
        <p class="fs-5 text-start">Other Information</p>
          <div class="col-mb-8">
            <select id="id_college" class="form-select form-select-lg" name="college" required>
              <option selected>Choose College</option>
              <option value="CAS">College of Arts and Sciences</option>
              <option value="CBA">College of Business Administration</option>
              <option value="CIT">College of Insdustrial Technology</option>
              <option value="CTED">College of Teacher Education</option>
              <option value="CCJE">College of Criminal Justice Education</option>
              <option value="CAF">College of Agriculture and Forestry</option>
            </select>
          </div>
        
          <div class="col-mb-8">
            <select id="id_status" class="form-select form-select-lg" name="status" required >
              <option selected>Choose Status</option>
              <option value="Permanent">Permanent</option>
              <option value="Temporary">Temporary</option>
              <option value="Part time">Part Time</option>
            </select>
          </div>
          <div class="col-mb-8">
            <select name="role" required id="id_role"  class="form-select form-select-lg">
                <option selected>Choose Role...</option>
                <option>User</option>
                <option>Admin</option>
            </select>
          </div>
           <!--
          <hr>
       
          <div class="col-sm">
            <select class="form-select" id="category-college" style="width:auto;" aria-label="Default select example">
              <option value="all" selected>All Colleges</option>
              <option value="CAS">College of Arts and Sciences</option>
              <option value="CBA">College of Business Administration</option>
              <option value="CIT">College of Industrial Technology</option>
              <option value="CTED">College of Teacher Education</option>
              <option value="CCJE">College of Criminal Justice Education</option>
              <option value="CAF">College of Agriculture and Forestry</option>
            </select>
        </div>
        
          <div class="col-mb-8">
            <p class="fs-5 text-start">Courses Handled:</p>
            <select name="course_handled" required id="id_course_handled"  class="form-select form-select-lg" multiple>
                {% for course in courses %}
                <option value="{{ course.id }}" data-college="{{ course.college }}">{{ course.course_name }}</option>
                {% endfor %}
            </select>
            <p class="fs-6 text-start">Hold down “Control” to select more than one.</p>
          </div>
       
          <div class="col-mb-8">
            <p class="fs-5 text-start">Sections Handled:</p>
            <select name="section_handled" required id="id_section_handled" class="form-select form-select-lg" multiple>
                {% for section in sections %}
                <option value="{{ section.id }}" data-section="{{ section.section_college }}">{{ section.program_section }}</option>
                {% endfor %}
            </select>
            <p class="fs-6 text-start">Hold down “Control” to select more than one.</p>
          </div>
          -->
          <!--{{ instructor_form.course_handled }} -->

    </div>
    <hr>
    <div class="d-grid col-3 mx-auto">
      <button type="submit" class="btn btn-default">Register</button>
    </div>
  </div>
  
 
</form>

</script>

  <script>
    document.getElementById('category-college').addEventListener('change', function() {
      filterCourses();
    });
  
    function filterCourses() {
      var selectedCollege = document.getElementById('category-college').value;
      var courseSelect = document.getElementById('id_course_handled');
     // var courseSection = document.getElementById('id_section_handled');
      var courses = courseSelect.options;
     // var sections = courseSection.options;
      
      for (var i = 0; i < courses.length; i++) {
        courses[i].selected = false;
      }
      /*
      for (var i = 0; i < sections.length; i++) {
        sections[i].selected = false;
      }
      */
      
      for (var i = 0; i < courses.length; i++) {
        var college = courses[i].getAttribute('data-college');
        if (selectedCollege === 'all' || college === selectedCollege) {
          courses[i].style.display = '';
        } else {
          courses[i].style.display = 'none';
        }
      }
      /*
      for (var i = 0; i < sections.length; i++) {
        var college = sections[i].getAttribute('data-section');
        if (selectedCollege === 'all' || college === selectedCollege) {
          sections[i].style.display = '';
        } else {
          sections[i].style.display = 'none';
        }
      }
       */
    } 
   
  </script>

{% endblock %}
{% include "_footer.html" %}