{% include "_header.html" %} {% load static %} 
{% block content %}


<div class="container-sm container-register">
  <a href="{% url 'instructors'%}" type="submit" id="save-subject-btn" class="btn btn-outline-secondary"><i class="bi bi-arrow-left"></i>Back to Instructor Page</a>

  <p class="fs-3 text-center">Register an Account</p>


<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <div class="row g-3">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" name="username" autocomplete="username" required id="id_username" placeholder="Enter Username">
      <label for="id_username">Username</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" name="password1" autocomplete="new-password" required id="id_password1" placeholder="Enter Password">
      <label for="id_password1">Password</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" name="password2" autocomplete="new-password" required  id="id_password2" placeholder="Confirm Password">
      <label for="id_password2">Confirm Password</label>
    </div>
    
  </div>
 
  </div>
  <hr>

  <div class="container-sm container-information">
    <p class="fs-5 text-start">Personal Information</p>
    <div class="row g-3 ">
    
      <!--
          {{ instructor_form.as_p }} -->
        <div class="mb-3">
          <label for="id_profile_picture" class="form-label">Upload profile picture</label>
          <input class="form-control" type="file" name="profile_picture" required id="id_profile_picture">
        </div>
        
        <div class="form-floating col-md-6">
          <input type="text" class="form-control" name="firstName" required id="id_firstName" placeholder="Enter Username">
          <label for="id_firstName">First name</label>
        </div>
      
        <div class="form-floating col-md-6">
          <input type="text" class="form-control" name="lastName" required id="id_lastName" placeholder="Enter Username">
          <label for="id_lastName">Last name</label>
        </div>

        <div class="form-floating col-md-4">
          <input type="text" class="form-control" name="middleName" required id="id_middleName" placeholder="Enter Middle Name">
          <label for="id_middleName">Middle Name</label>
        </div>

        <div class="col-md-7">
          <select id="id_gender" class="form-select form-select-lg" name="gender" required>
            <option selected>Choose gender</option>
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>

        <div class="form-floating col-md-6">
          <input type="email" class="form-control" autocomplete="email" name="email" required id="id_email" placeholder="Enter email">
          <label for="id_email">Email</label>
        </div>

        <div class="form-floating col-md-6">
          <input type="number" class="form-control" name="contact" required id="id_contact" placeholder="Enter Contact">
          <label for="id_contact">Contact Number</label>
        </div>

        <div class="form-floating col-md-4">
          <input type="date" class="form-control" name="birthday" required id="id_birthday" placeholder="Enter Username">
          <label for="id_birthday">Birthdate</label>
        </div>

        <div class="form-floating mb-3">
          <input type="text" class="form-control" name="address" autocomplete="address"  required id="id_address" placeholder="Enter Address">
          <label for="id_address">Address</label>
        </div>
        <hr>
        <p class="fs-5 text-start">Other Information</p>

        <div class="col-md-8">
          <select id="id_department" class="form-select form-select-lg" name="department" required>
            <option selected>Choose College</option>
            <option>College of Arts and Sciences</option>
            <option>College of Business Administration</option>
            <option>College of Insdustrial Technology</option>
            <option>College of Teacher Education</option>
            <option>College of Criminal Justice Education</option>
            <option>College of Agriculture and Forestry</option>
          </select>
        </div>
      
        <div class="form-floating col-md-5">
          <input type="text" class="form-control" name="time_availability" required id="id_time_availability" placeholder="Enter Time Availability">
          <label for="id_time_availability">Time Availability</label>
        </div>
        <hr>
        <div class="col-md-8">
          <select name="role" required id="id_role"  class="form-select form-select-lg">
              <option selected>Choose Role...</option>
              <option>User</option>
              <option>Admin</option>
          </select>
        </div>

    </div>
    <hr>
    <div class="d-grid col-3 mx-auto ">
      <button type="submit" class="btn btn-default">Register</button>
    </div>
  </div>
  
 
</form>


{% endblock %}
{% include "_footer.html" %}