{% include "_header.html" %} {% load static %} 
{% load crispy_forms_tags %}
{% block content %}

{% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}

<p class="fs-5 text-start user-page-title">Subject Page</p>
<hr>
<div class="container-fluid container-subject-page">
  <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <div class="row">

          <div class="col-sm">
            <select class="form-select" style="width:auto;" aria-label="Default select example">
              <option selected>All Colleges</option>
              <option>College of Arts and Sciences</option>
              <option>College of Business Administration</option>
              <option>College of Insdustrial Technology</option>
              <option>College of Teacher Education</option>
              <option>College of Criminal Justice Education</option>
              <option>College of Agriculture and Forestry</option>
            </select>
          </div>
          <!--
          <div class="col-sm">
            <select class="form-select" style="width:auto;" aria-label="Default select example">
              <option selected>All Course and Major</option>
              <option>Bachelor of Agricultural Technology major in Animal Husbandry</option>
                      <option>BS Agricultural major in Agronomy</option>
                      <option>BS Agriculture major in Animal Science</option>
                      <option>BS Forestry</option>
                      <option>BS Computer Science</option>
                      <option>BS Information Technology</option>
                      <option>Associate in Hospitality Management</option>
                      <option>BS in Hospitality Management</option>
                      <option>BS in Business Administration major in Human Resource Management</option>
                      <option>BS Office Administration</option>
                      <option>BS Criminology</option>
                      <option>BEED General Curriculum</option>
                      <option>BEED Special Education</option>
                      <option>BSED English</option>
                      <option>BSED Mathematics</option>
                      <option>BSED Sciences</option>
                      <option>Associate in Indusctrial Technology major in Automotive Technology</option>
                      <option>Associate in Indusctrial Technology major in Computer Technology</option>
                      <option>Associate in Indusctrial Technology major in Electrical Technology</option>
                      <option>BS Industrial Technology major in Automotive Technology</option>
                      <option>BS Industrial Technology major in Computer Technology</option>
                      <option>BS Industrial Technology major in Electrical Technology</option>
                      <option>BS Industrial Technology major in Electronics Technology</option>
                      <option>Associate in Industrial Technology major in Electronics Technology</option>
            </select>
          </div>
          -->
          <div class="col-sm">
            <select class="form-select" style="width:auto;" aria-label="Default select example" placeholder="Select College">
              <option selected>All Year Level</option>
              <option value="1">1st Year</option>
              <option value="2">2nd Year</option>
              <option value="3">3rd Year</option>
              <option value="3">4th Year</option>
            </select>
          </div>
          <div class="col-sm">
            <select class="form-select" style="width:auto;" aria-label="Default select example">
              <option selected>All Semester</option>
              <option value="1">First Semester</option>
              <option value="2">Second Semester</option>
            </select>
          </div>
      </div>
    </div>
  </nav>
      
    <div class="row">
      <!--Course Table-->
      <div class="col-sm-7 col-subject">
          <p class="fs-6 text-start user-page-title">Subjects</p>
          <hr>
          <div class="table-responsive">
              <table class="table caption-top"> 
                  <caption><button class="btn btn-default" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="bi bi-plus-circle"></i>Add New Subject</button></caption>
                  <thead class="table-success">
                      <tr>
                        <th scope="col">Subject</th>
                        <th scope="col">Descriptive Title</th>
                        <th scope="col">Credits</th>
                        <th scope="col">Prerequisites</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for course in courses %}
                      <tr>
                        <th scope="row">{{ course.course_name }}</th>
                        <td>{{ course.description }}</td>
                        <td>{{ course.credits }}</td>
                        <td>{{ course.prerequisites }}</td>
                        <td><a href="{% url 'deletesubject' id=course.id %}" type="button" class="btn btn-danger btn-sm"  onclick="return confirm('Are you sure you want to delete?');"><i class="bi bi-trash-fill"></i></a>
                          <a href="{% url 'editsubject' id=course.id %}" type="button" class="btn btn-info btn-sm" id="buttonEdit" ><i class="bi bi-pen-fill" style="color:#fff;"></i></a></td>
                      </tr>
                      {% endfor %}
                  </tbody>
                </table>
          </div>
            <!-- Modal Add Subject-->
          <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Add New Subject</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!--Add Subject Form-->
                  <form id="subject-form" method="POST" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
                      {% csrf_token %}
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" name="subject-course_name" id="id_subject-course_name" placeholder="Course name" required>
                      <label for="id_subject-course_name">Course Code</label>
                      <div class="invalid-feedback">
                        Please Enter Course Name.
                      </div>
                    </div>

                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" name="subject-description" id="id_subject-description" placeholder="Description" required>
                      <label for="id_subject-description">Descriptive Title</label>
                      <div class="invalid-feedback">
                        Please Enter Descriptive Title.
                      </div>
                    </div>

                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" name="subject-credits" id="id_subject-credits" placeholder="Description" required>
                      <label for="id_subject-credits">Credits</label>
                      <div class="invalid-feedback">
                        Please Enter Credits.
                      </div>
                    </div>

                    <div class="form-floating mb-3">
                      <input type="text" class="form-control" name="subject-prerequisites" id="id_subject-prerequisites" value="." placeholder="Description" required>
                      <label for="id_subject-prerequisites">Prerequisites</label>
                      <div class="invalid-feedback">
                        Please Enter Prerequisites.
                      </div>
                    </div>

                    <select id="id_subject-type" class="form-select form-select-type" name="subject-type" placeholder="Type" required>
                      <option selected>Choose Type</option>
                      <option value="Lec">Lecture</option>
                      <option value="Lab and Lec">Lab and Lecture</option>
                    </select>

                    <select id="id_subject-college" class="form-select form-select-college" name="subject-college" placeholder="College" required>
                      <option selected>Choose College</option>
                      <option value="CAS">College of Arts and Sciences</option>
                      <option value="CBA">College of Business Administration</option>
                      <option value="CIT">College of Insdustrial Technology</option>
                      <option value="CTED">College of Teacher Education</option>
                      <option value="CCJE">College of Criminal Justice Education</option>
                      <option value="CAF">College of Agriculture and Forestry</option>
                    </select>
                  
                    <select id="id_subject-course" class="form-select form-select-course" name="subject-course" placeholder="Course" required>
                      <option selected>Choose Major or Course</option>
                      <option>Bachelor of Agricultural Technology major in Animal Husbandry</option>
                      <option>BS Agricultural major in Agronomy</option>
                      <option>BS Agriculture major in Animal Science</option>
                      <option>BS Forestry</option>
                      <option>BS Computer Science</option>
                      <option>BS Information Technology</option>
                      <option>Associate in Hospitality Management</option>
                      <option>BS in Hospitality Management</option>
                      <option>BS in Business Administration major in Human Resource Management</option>
                      <option>BS Office Administration</option>
                      <option>BS Criminology</option>
                      <option>BEED General Curriculum</option>
                      <option>BEED Special Education</option>
                      <option>BSED English</option>
                      <option>BSED Mathematics</option>
                      <option>BSED Sciences</option>
                      <option>Associate in Indusctrial Technology major in Automotive Technology</option>
                      <option>Associate in Indusctrial Technology major in Computer Technology</option>
                      <option>Associate in Indusctrial Technology major in Electrical Technology</option>
                      <option>BS Industrial Technology major in Automotive Technology</option>
                      <option>BS Industrial Technology major in Computer Technology</option>
                      <option>BS Industrial Technology major in Electrical Technology</option>
                      <option>BS Industrial Technology major in Electronics Technology</option>
                      <option>Associate in Industrial Technology major in Electronics Technology</option>
                    </select>


                    <select id="id_subject-semester" class="form-select form-select-semester" name="subject-semester" placeholder="Semester" required>
                      <option selected>Choose Semester</option>
                      <option value="1st Year">1st Semester</option>
                      <option value="2nd Year">2nd Semester</option>
                    </select>

                    <select id="id_subject-year_level" class="form-select form-select-year_level" name="subject-year_level" placeholder="College" required>
                      <option selected>Choose Year Level</option>
                      <option value="1st Year">1st Year</option>
                      <option value="2nd Year">2nd Year</option>
                      <option value="3rd Year">3rd Year</option>
                      <option value="4th Year">4th Year</option>
                      <option value="Summer">Summer</option>
                    </select>


                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-success" name="add_subject">Save</button>
                </div>
              </form>
              </div>
            </div>
          </div>

      </div>

      <!--Room Table-->
      <div class="col-sm-4 col-rooms">
          <p class="fs-5 text-start user-page-title">Rooms</p>
          <hr>
          <div class="table-responsive">
              <table class="table caption-top">
                  <caption><button class="btn btn-default" type="button" data-bs-toggle="modal" data-bs-target="#staticBackdropRoom"><i class="bi bi-plus-circle"></i>Add New Room</button></caption>
                  <thead class="table-info">
                    <tr>
                      <th scope="col">Room Name</th>
                      <th scope="col">College</th>
                      <th scope="col">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for room in rooms %}
                    <tr>
                      <th scope="row">{{ room.room_name }}</th>
                      <td>{{ room.college }}</td>
                      <td><a href="{% url 'deleteroom' id=room.id %}" type="button" class="btn btn-danger btn-sm"  onclick="return confirm('Are you sure you want to delete?');"><i class="bi bi-trash-fill"></i></a>
                        <a href="{% url 'editroom' id=room.id %}" type="button" class="btn btn-info btn-sm" id="buttonEdit" ><i class="bi bi-pen-fill" style="color:#fff;"></i></a></td>
                    </tr>
                  
                    {% endfor %}
                  </tbody>
                </table>
          </div>
            <!-- Modal Add Room-->
            <div class="modal fade" id="staticBackdropRoom" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Add New Room</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                      <!--Add Room Form-->
                    <form id="room-form" method="POST" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
                        {% csrf_token %}

                        <div class="form-floating mb-3">
                          <input type="text" class="form-control" name="room-room_name" required id="id_room-room_name" placeholder="Room name" required>
                          <label for="id_room-room_name">Room name</label>
                          <div class="invalid-feedback">
                            Please Enter Room Name.
                          </div>
                        </div>
  
                       
                          <select id="id_room-college" class="form-select form-select-room" name="room-college" placeholder="College" required>
                            <option selected>Choose College</option>
                            <option value="CAS">College of Arts and Sciences</option>
                            <option value="CBA">College of Business Administration</option>
                            <option value="CIT">College of Insdustrial Technology</option>
                            <option value="CTED">College of Teacher Education</option>
                            <option value="CCJE">College of Criminal Justice Education</option>
                            <option value="CAF">College of Agriculture and Forestry</option>
                          </select>
                        
                      

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success" name="add_room">Save</button>
                  </div>
                </form>
                </div>
              </div>
            </div>
      </div>


    </div>

    

</div>


{% endblock %}
{% include "_footer.html" %}
 
