{% include "_header.html" %} {% load static %} 
{% block content %}
<p class="fs-5 text-start user-page-title">Subject Page</p>
<hr>

<div class="container-fluid container-subject-page">
    <div class="row">
        <!--Course Table-->
        <div class="col col-subject">
            <p class="fs-5 text-start user-page-title">Subjects</p>
            <hr>
            <div class="table-responsive">
                <table class="table caption-top">
                    <caption><button class="btn btn-default" type="button"><i class="bi bi-plus-circle"></i>Add New Subject</button></caption>
                    <thead class="table-success">
                      <tr>
                        <th scope="col">Course Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Credits</th>
                        <th scope="col">Prerequisites</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Data</th>
                        <td>Data</td>
                        <td>Data</td>
                        <td>Data</td>
                      </tr>
                      <tr>
                        <th scope="row">Data</th>
                        <td>Data</td>
                        <td>Data</td>
                        <td>Data</td>
                      </tr>
                      <tr>
                        <th scope="row">Data</th>
                        <td>Data</td>
                        <td>Data</td>
                        <td>Data</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>

        <!--Room Table-->
        <div class="col col-rooms">
            <p class="fs-5 text-start user-page-title">Rooms</p>
            <hr>
            <div class="table-responsive">
                <table class="table caption-top">
                    <caption><button class="btn btn-default" type="button"><i class="bi bi-plus-circle"></i>Add New Room</button></caption>
                    <thead class="table-info">
                      <tr>
                        <th scope="col">Room Name</th>
                        <th scope="col">Department</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">Data</th>
                        <td>Data</td>
                      </tr>
                      <tr>
                        <th scope="row">Data</th>
                        <td>Data</td>
                      </tr>
                      <tr>
                        <th scope="row">Data</th>
                        <td>Data</td>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>    
</div>


{% endblock %}
{% include "_footer.html" %}
 
