{% include "_header.html" %}{% load static %} 
{% block content %}
<br>

<div class="container-sm container-update-page" id="container-subject-edit">
  <a href="{% url 'subject'%}" type="submit" id="save-subject-btn" class="btn btn-outline-secondary"><i class="bi bi-arrow-left"></i>Back to Subject</a>
    <div class="row">
      <div class="col-sm col-subject-edit" id="col-subject-edit">
        <form id="subject-form" method="POST" enctype="multipart/form-data" class="row g-3 needs-validation" novalidate>
          {% csrf_token %}
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="course_name" id="id_course_name" value="{{ courseform.instance.course_name }}" placeholder="Course name" required>
            <label for="id_course_name">Course name</label>
            <div class="invalid-feedback">
              Please Enter Course Name.
            </div>
          </div>
          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="description" id="id_description" value="{{ courseform.instance.description }}" placeholder="Description" required>
            <label for="id_description">Description</label>
            <div class="invalid-feedback">
              Please Enter Description.
            </div>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="credits" id="id_credits" value="{{ courseform.instance.credits }}" placeholder="Description" required>
            <label for="id_credits">Credits</label>
            <div class="invalid-feedback">
              Please Enter Credits.
            </div>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="prerequisites" id="id_prerequisites" value="{{ courseform.instance.prerequisites }}" placeholder="Description" required>
            <label for="id_prerequisites">Prerequisites</label>
            <div class="invalid-feedback">
              Please Enter Prerequisites.
            </div>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="type" id="id_type" value="{{ courseform.instance.type }}" placeholder="Type" required>
            <label for="id_type">Type</label>
            <div class="invalid-feedback">
              Please Enter Type.
            </div>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="college" id="id_college" value="{{ courseform.instance.college }}" placeholder="College" required>
            <label for="id_college">College</label>
            <div class="invalid-feedback">
              Please Enter College.
            </div>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="course" id="id_course" value="{{ courseform.instance.course }}" placeholder="Course" required>
            <label for="id_course">Course</label>
            <div class="invalid-feedback">
              Please Enter Course.
            </div>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="semester" id="id_semester" value="{{ courseform.instance.semester }}" placeholder="Semester" required>
            <label for="id_semester">Semester</label>
            <div class="invalid-feedback">
              Please Enter Semester.
            </div>
          </div>

          <div class="form-floating mb-3">
            <input type="text" class="form-control" name="year_level" id="id_year_level" value="{{ courseform.instance.year_level }}" placeholder="Year Level" required>
            <label for="id_year_level">Year Level</label>
            <div class="invalid-feedback">
              Please Enter Year Level.
            </div>
          </div>
        
        
          <button type="submit" id="save-subject-btn" class="btn btn-success">Save changes</button>
        
        </form>
</div>
    
    
{% endblock %}
{% include "_footer.html" %}