{% include "_header.html" %} {% load static %} 
{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>

{% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}

 
  <div class="container-fluid container-summary-print" id="instructor-info">
    <br>
      <div class="row">
        <div class="col-sm img-logo">
          <a href=""><img class="img-fluid rounded mx-auto d-block rounded-circle float-end" src="{% static 'img/logo.png' %}" style="width: 100px; height: 100px; border-radius: 50%;"/></a>
        </div>
        <div class="col-sm">
          <p class="text-center text-summary">Republic of the Philippines</p>
          <p class="text-center fw-bold text-summary">NEGROS ORIENTAL STATE UNIVERSITY</p>
          <p class="text-center text-summary">Bayawan Santa Catalina Campus</p>
        </div>
        <div class="col-sm img-college">
          <a href=""><img class="img-fluid rounded mx-auto d-block rounded-circle float-start" src="{% static 'img/CAS.jpg' %}" style="width: 120px; height: 120px; border-radius: 50%;"/></a>
        </div>
      </div>
      <br>
      <div class="row row-bottom-shit">
        <div class="col-sm">
          <p class="fs-5 text-center fw-bold text-summary">College of Arts and Sciences</p>
          <p class="text-center text-summary">Semester: Second School Year: 2023-2024</p>
        </div>
      </div>

        <div class="container-fluid table-responsive container-college-summary" id="ViewSchedules">
                <table class="table table-hover table-bordered  caption-top">
                    <caption>
                    </caption>
                    <thead>
                      <tr>
                        <th scope="col">Position of Instructor</th>
                        <th colspan="10" style="text-align: center;" class="align-middle align-top">Schedule of Classes</th>
                        <th colspan="2" class="align-middle align-top">Official Designation</th>
                        <th colspan="2" class="align-middle">EQ</th>
                      </tr>
                    </thead> 
                    <thead>
                      <tr>
                        <th scope="col" class="align-top">Permanent</th>
                        <th scope="col" class="align-top">Day</th>
                        <th scope="col" class="align-top">Time</th>
                        <th scope="col" class="align-top">Code</th>
                        <th scope="col" class="align-top">Description Title</th>
                        <th scope="col" class="align-top">Section</th>
                        <th scope="col" class="align-top">Room</th>
                        <th scope="col" class="align-top">No. units</th>
                        <th scope="col" class="align-top">Contact per Hour</th>
                        <th scope="col" class="align-top">No. Student</th>
                        <th scope="col" class="align-top">No. of Preps</th>
                        <th scope="col" class="align-top">Title of Designation</th>
                        <th scope="col" class="align-top">Equivalent Credit</th>
                        <th scope="col"></th>
                      </tr>
                      <!-- LOOP HERE-->
                      {% regroup class_schedules by instructor.lastName as instructor_schedules %}
                        {% for instructor_schedule  in instructor_schedules %}
                        <tr>
                          <th scope="col" rowspan="{{ instructor_schedule.grouper }}">
                            {% for schedule in instructor_schedule.list %}
                        </th>
                          <th scope="col" rowspan="2" class="align-top">{{schedule.instructor.firstName}} {{schedule.instructor.lastName}}</th>
                          <td scope="col">{{ schedule.days_of_week }}</td>
                          <td scope="col">{{ schedule.start_time }} - {{ schedule.end_time }}</td>
                          <td scope="col">{{ schedule.course.course_name }}</td>
                          <td scope="col">{{ schedule.course.description }}</td>
                          <td scope="col">{{ schedule.section }}</td>
                          <td scope="col">{{ schedule.room }}</td>
                          <td scope="col">{{ schedule.course.credits }}</td>
                          <td scope="col">{{ schedule.course.hours }}</td>
                          <td scope="col">{{ schedule.section }}</td>
                          <td scope="col"></td>
                          <td scope="col" rowspan="5" class="align-top" >Associate Professor</td>
                          <td scope="col" rowspan="5"></td>
                          <td scope="col" rowspan="5" class="align-top">MA in Philosophy</td>
                        </tr>
                        <!-- --> 
                        <tr>
                          <th colspan="6" style="text-align: center;">TOTAL:</th>
                          <th scope="col">0</th>
                          <th scope="col">0</th>
                          <th scope="col">0</th>
                          <th scope="col">0</th>
                        </tr>
                        {% endfor %} 
                      {% endfor %}
                    </thead> 
                    <tbody>
                    
                    </tbody>
                </table>  
        </div>
  </div>

   
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <button class="btn btn-success btn-profile-print" type="button" onclick="window.print()">Print TeachingLoad</button>
</div>






{% endblock %}
{% include "_footer.html" %}
 

