{% include "_header.html" %} {% load static %} 
{% block content %}

{% if messages %}
  <div class="messages">
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}


<div class="row row-user-info">
  <div class="container-fluid container-summary-print" id="instructor-info">
      <h4>Summary</h4>
          <div class="container-fluid table-responsive container-instructor-schedule" id="ViewSchedules">
                  <table class="table table-hover table-bordered  caption-top">
                      <caption>
                      </caption>
                      <thead>
                        <tr>
                          <th scope="col">Position of Instructor</th>
                          <th colspan="10" style="text-align: center;">Schedule of Classes</th>
                          <th colspan="2">Official Designation</th>
                          <th colspan="2">EQ</th>
                        </tr>
                      </thead> 
                      <thead>
                        <tr>
                          <th scope="col">Permanent</th>
                          <th scope="col">Day</th>
                          <th scope="col">Time</th>
                          <th scope="col">Code</th>
                          <th scope="col">Description Title</th>
                          <th scope="col">Section</th>
                          <th scope="col">Room</th>
                          <th scope="col">No. units</th>
                          <th scope="col">Contact per Hour</th>
                          <th scope="col">No. Student</th>
                          <th scope="col">No. of Preps</th>
                          <th scope="col">Title of Designation</th>
                          <th scope="col">Equivalent Credit</th>
                          <th scope="col"></th>
                        </tr>
                        <!-- LOOP HERE-->
                        <tr>
                          <th scope="col">Albert C. Albina</th>
                          <td scope="col">TH</td>
                          <td scope="col">8:00am - 9:00am</td>
                          <td scope="col">BEED20</td>
                          <td scope="col">Ethics</td>
                          <td scope="col">BEED-GEN-3-A</td>
                          <td scope="col">CAS15</td>
                          <td scope="col">3</td>
                          <td scope="col">3</td>
                          <td scope="col">45</td>
                          <td scope="col"></td>
                          <td scope="col">Associate Professor</td>
                          <td scope="col"></td>
                          <td scope="col">MA in Philosophy</td>
                        </tr>
                        <!-- -->
                        <tr>
                          <th scope="col"></th>
                          <th colspan="6" style="text-align: center;">TOTAL:</th>
                          <th scope="col">0</th>
                          <th scope="col">0</th>
                          <th scope="col">0</th>
                          <th scope="col">0</th>


                        </tr>

                      </thead> 
                      <tbody>
                        <tr>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                          <td></td>
                        </tr>  
                      </tbody>
                  </table>  
          </div>
        
  </div>
</div>
</div>





{% endblock %}
{% include "_footer.html" %}
 

