:root {
    --bg-color: #3884b9;
    --white-color: #ffe2e9;
    --pink-color: #e89bb0;
    --light-color: #f8fcff;
    --brown-color: #8a5765;
    --blue-color: #397bab;
    --dark-color: #352b3b;
    --box-shadow-style: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

* {
    margin: 0;
    padding: 0;
}

i {
    margin-left: 15px;
    margin-right: 10px;
}

/* NAVBAR */
/* NAVBAR */
/* NAVBAR */
.navbar{
    height: 60px;
    background-color: var(--bg-color);
}
h2{
    margin: auto;
}
.logo img {
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin-bottom: 10px;
}

.dropdown{
    list-style: none;
    color: var(--white-color);
    margin-inline-end: 20px;
    font-size: 18px;
    margin-bottom: 10px;
}

.bi-bell{
    list-style: none;
    color: var(--white-color);
    margin-inline-end: 20px;
    font-size: 20px;
    margin-bottom: 10px;
    margin-right: -2px;
    cursor: pointer;
}

.navbar-toggler {
    margin-left: 20px;
    background-color: #e5e2ff; 
    margin-bottom: 15px;
    border-color: transparent;
}

.navbar-toggler:hover {
    margin-left: 20px;
    background-color: white;
}


.offcanvas-header {
    background: linear-gradient(90deg, #aeddff 10%, var(--blue-color) 55%);
    color: #ffffff;
    border-top-right-radius: 1rem;
}

.offcanvas-body {
    color: var(--brown-color);
}

.offcanvas-body .bi {
    color: #397bab;
    font-size: 20px;
}


.offcanvas-header img {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    cursor: pointer;
    position: relative;
    left: 45%;
    transition: 0.3s;
}

.offcanvas-header img:hover {
    border-radius: 50%;
    transition: 0.3s;
    transform: scale(1.2)
}

.navbar-nav a {
    text-transform: uppercase;
    text-decoration: none;
}

.navbar-nav a:after {
    background: none repeat scroll 0 0 transparent;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(32, 184, 255);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}



.navbar-nav a:hover:after {
    width: 70%;
    left: 25px;
  
}


@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}

/* END NAVBAR */
/* END NAVBAR */
/* END NAVBAR */


/* DASHBOARD PAGE */
/* DASHBOARD PAGE */

/* DASHBOARD BOX */
/* DASHBOARD BOX */
.section_summary .container .content .bi {
    font-size: 75px;
    margin-bottom: -35px;
    margin-top: -20px;
}

.section_summary {
    /* background-color: var(--light-color); */
    margin-top: -20px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 1rem;

}

section.section_summary .section_contents {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

section.section_summary .section_contents .content {
    box-shadow: var(--box-shadow-style);
    max-width: 100%;
    padding: 30px 20px;
    margin: 30px 30px 30px 0;
    color: #f1f1f1;
    cursor: pointer;


}

section.section_summary .section_contents .content .content_count {
    font-size: 40px;
    font-weight: bold;
    align-items: center;
}



section.section_summary .section_contents .content_instructor {
    background: linear-gradient(90deg, rgb(129, 216, 223) 0%, rgba(2,178,238,1) 100%);
}

section.section_summary .section_contents .content_room {
    background: linear-gradient(90deg, rgb(125, 216, 180) 0%, rgba(30,140,74,1) 100%);

}

section.section_summary .section_contents .content_conflict {
    background: linear-gradient(90deg, rgba(218,126,126,1) 0%, rgba(140,30,60,1) 100%);
}

/* HOVER EFFECT */
section.section_summary .section_contents .content:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;
    border-color: #55ccbc;
    box-shadow: 0 0 15px #026992;


}

/*END HOVER EFFECT */

/* END DASHBOARD BOX */
section.section_summary .section_contents .content {
    border-radius: 0.2rem;
}

.order-card {
    color: #fff;
}


.f-left {
    float: left;
}

.content_title {
    margin-top: 9px;
    font-size: 20px;
    float: right;
}


/*DASHBOARD QUICK INFO */
/*DASHBOARD QUICK INFO */

.section-quickInfo {
    max-width: 100%;
    .col{
        max-width: 100%;
        background-color: var(--light-color);
        margin-top: 5px;
        margin-left: 5px;
        margin-right: 5px;
        padding-top: 10px;
        padding-bottom: 50px;
        box-shadow: var(--box-shadow-style);
    }
}
/*DASHBOARD END QUICK INFO */
/*DASHBOARD END QUICK INFO */



/*DASHBOARD INSTRUCTORS */
/*DASHBOARD INSTRUCTORS */

.section-select{
    overflow: auto;
    max-height: 600px;   
}
.table{
    position: sticky;
    top: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
}


/*DASHBOARD END INSTRUCTORS */
/*DASHBOARD END INSTRUCTORS */

/*DASHBOARD SCHEDULE */
/*DASHBOARD SCHEDULE */
.section-calendar {
    background-color: var(--light-color);
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 0.5rem;
    height: 510px;
    width: 985px;
    float: right;
    margin-bottom: 20px;
    box-shadow: var(--box-shadow-style);
}

.section-calendar .btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-calendar {
    background-color: whitesmoke;
    height: 400px;
    padding: 10px 10px 10px 10px;
    margin-top: 15px;
    box-shadow: var(--box-shadow-style);
}

.section-calendar h5 {
    color: #0a6db4;
    padding-left: 10px;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: bold;

}

.section-card .container {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 0.5rem;
    height: 400px;
    width: 300px;
    float: left;
    margin-bottom: 26px;
    padding: 7px 13px 30px 15px;
    color: white;

}

.section-card img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    position: relative;
    left: 15%;
}

.section-card .card {
    height: 515px;
    margin-left: -15px;
    box-shadow: var(--box-shadow-style);
}

.section-card .card .btn {
    margin-bottom: 20px;
}

.section-select {
    background-color: var(--light-color);
    margin-top: 5px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 0.5rem;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 50px;
    box-shadow:var(--box-shadow-style);
    height: 250px;
}

.dashboard-header {
    color: #0a6db4;
    margin: auto;
    padding: 10px 0 10px 10px;
}


.fc .fc-col-header-cell-cushion {
    color: #026992;
    font-size: 16px;
}

/*END DASHBOARD SCHEDULE */
/*END DASHBOARD SCHEDULE */

/* END DASHBOARD PAGE */
/* END DASHBOARD PAGE */


/* INSTRUCTORS PAGE */
/* INSTRUCTORS PAGE */
.instructors-part {
    max-width: 100%;

    #btn-add{
        margin-right: 20px;
    }
    .instructors-header {
        background-color: var(--light-color);
        max-width: 100%;
        color: #0a6db4;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: -25px;
        border-radius: 0.1rem;
        padding: 10px 0 5px 10px;
        box-shadow: 0px 0px 12px -8px #141414;

        h3 {
            font-size: 25px;
        }
    }

    h4 {
        text-align: center;
        align-items: center;
        
    }
    #news-slider{
        margin-top: 10px;
       
    }
    .card{
        align-items: center;
    }
    .owl-carousel{
       
        .post-slide{
        
            .post-img{
                height: 300px;
                width: 300px;
                align-items: center;
            }
        }
    }
    .carousel-control-prev{
        background-color: var(--blue-color);
        height: 80px;
        width: 80px;
        border-radius: 50%;
      
    }
    .carousel-control-next{
        background-color: var(--blue-color);
        height: 80px;
        width: 80px;
        border-radius: 50%;
        margin-left: 20px;
    }
    .owl-nav{
        display: flex; 
        justify-content: center; 
        align-items: center; 
        text-align: center;
        margin-top: -35px;

        .owl-prev{
          
            span{
                padding: 10px;
                font-size: 50px;
                margin-right: 5px;
            }
        }
        .owl-next{
          
            span{
                padding: 10px;
                font-size: 50px;
                margin-left: 5px;
            }
        }
    }
  
    .card-info{
        width: 540px;
        padding: 10px;
       left: 10%;
      
        .card-body{
            text-transform: uppercase;
        }
    }
  
}
.section-info{
    margin-top: -90px;
}

/* END INSTRUCTORS PAGE */
/* END INSTRUCTORS PAGE */
