:root {
    --white-color: #ffe2e9;
    --pink-color: #e89bb0;
    --light-color: #f8fcff;
    --brown-color: #3f4f53;
    --blue-color: #397bab;
    --dark-color: #352b3b;
    --box-shadow-style: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --box-shadow-style2: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    --borderRadius: 0.5rem;
    --home-color: #284257;
    --home-color-dark: #253339;
    --home-color-light: #566c7d;
    --light-home: #F2F2F2;


    --new-color: #284257;
    --theme-color: #253339;
    --red-color: #eb4949;
    --bg-linear: linear-gradient(39deg, rgba(86, 108, 125, 1) 0%, rgba(42, 107, 130, 1) 100%);

    --bg-linear-test1: linear-gradient(39deg, rgba(40, 66, 87, 1) 0%, rgba(38, 96, 129, 1) 44%, rgba(63, 145, 162, 1) 75%, rgba(29, 163, 181, 1) 100%);
    --bg-linear-test2: linear-gradient(39deg, rgba(87, 40, 65, 1) 6%, rgba(142, 53, 92, 1) 36%, rgba(215, 105, 165, 1) 64%, rgba(255, 153, 184, 1) 100%);
    --bg-linear-test3: linear-gradient(39deg, rgba(53, 40, 87, 1) 6%, rgba(75, 53, 142, 1) 36%, rgba(158, 105, 215, 1) 64%, rgba(189, 153, 255, 1) 100%);
    --bg-linear-test4: linear-gradient(39deg, rgba(40, 61, 87, 1) 6%, rgba(53, 70, 142, 1) 36%, rgba(105, 126, 215, 1) 64%, rgba(189, 153, 255, 1) 100%);
    --bg-linear-test5: linear-gradient(39deg, rgba(53, 58, 95, 1) 0%, rgba(86, 92, 134, 1) 44%, rgba(130, 136, 179, 1) 70%, rgba(167, 171, 201, 1) 100%);
    --bg-linear-test6: linear-gradient(39deg, rgba(95, 53, 53, 1) 0%, rgba(134, 86, 86, 1) 44%, rgba(179, 130, 130, 1) 70%, rgba(201, 167, 167, 1) 100%);
    --bg-linear-test7: linear-gradient(39deg, rgba(15, 40, 65, 1) 0%, rgba(67, 127, 152, 1) 44%, rgba(130, 161, 179, 1) 70%, rgba(167, 185, 201, 1) 100%);
    --bg-linear-test8: linear-gradient(93deg, rgba(37, 51, 57, 1) 0%, rgba(64, 83, 91, 1) 38%, rgba(106, 130, 141, 1) 69%, rgba(174, 187, 195, 1) 100%);
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}


i {
    margin-left: 15px;
    margin-right: 10px;
}

/* SCROLLBAR NAVBAR */
/* SCROLLBAR NAVBAR */

::-webkit-scrollbar {
    width: 10px;
    /* width of the scrollbar */
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* color of the track */
}

::-webkit-scrollbar-thumb {
    background: var(--home-color-dark);
    /* color of the scrollbar */
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* color of the scrollbar on hover */
}

/* END SCROLLBAR NAVBAR */
/* END SCROLLBAR NAVBAR */

/* HOME NAVBAR */
/* HOME NAVBAR */

/* BUTTON DEFAULT */

.btn-default {
    background-color: var(--theme-color);
    color: var(--light-home);
}

.btn-default:hover {
    border: solid 1px var(--theme-color);
    background-color: var(--light-home);
    color: var(--home-color);
}

/* END BUTTON DEFAULT */

#home-nav {
    background-color: var(--theme-color);

    .container-home-nav {
        background-color: var(--theme-color);
    }

    #home-logo {
        color: var(--light-home);
        margin-left: 20px;
        font-weight: bold;
    }

    .btn-login {
        align-items: end;
    }

    .item-profile {
        text-transform: uppercase;
        margin-right: 20px;
    }

    .btn-login,
    .btn-logout {
        border-color: var(--light-home);
        color: var(--light-home);

    }

    .btn-login:hover,
    .btn-logout:hover {
        background-color: var(--light-home);
        color: var(--home-color);
    }

    .nav-link {
        list-style: none;
        color: var(--light-home);
    }

}

.navbar-collapse {
    background: var(--theme-color);
}

/* HOME PAGE */
.schedule-section {
    .home-page {
        background: var(--bg-linear-test8);
        padding-bottom: 150px;
        height: 90vh;


        .e-clasched {
            font-size: 50px;
            font-weight: 700;
        }

        h1 {
            color: var(--light-color);
        }

        p {
            color: var(--light-color);
        }

        h5 {
            color: var(--light-color);

        }

        .btn-viewSchedules {
            color: var(--light-home);
            border: solid 2px var(--red-color);

        }

        .btn-viewSchedules:hover {
            background-color: var(--light-home);
            color: var(--red-color);
        }

        .title-part {
            padding-left: 50px;
            padding-top: 20px;

            .fs-1 {
                font-weight: 600;
            }

        }

        .logo-part {
            background-color: var(--theme-color);

            img {
                opacity: 0.5;
            }
        }

    }

}

.section-slide2 {
    background-color: var(--theme-color);
    height: 100vh;


    .col-image {
        background-color: var(--theme-color);

        img {
            opacity: 0.5;
            padding-top: 40px;
        }
    }

    .text-detail {
        color: #fff;

    }

}

.text-detail {
    color: var(--home-color);
    text-align: center;
    padding-top: 20px;
}

/*END HOME PAGE */

/*SCHEDULE PAGE */
.section-schedule {
    height: 100vh;
    padding-top: 20px;

    .heading {
        margin-bottom: -15px;
        margin-top: -10px;
    }

    .col-4 {
        padding: 10px;
    }

    .btn-group {
        margin-top: 5px;
    }


    h3 {
        color: var(--home-color);
        padding: 10px;
    }

    .home-table {
        margin-top: 20px;
        box-shadow: var(--box-shadow-style);
    }

    .table-bg {
        background-color: var(--home-color) !important;
    }


    .row-card {
        display: inline-block;
    }

    .btn {
        background-color: transparent;
        color: var(--light-home);
        border: solid 2px;
    }

    .card {
        margin: 10px;
        box-shadow: var(--box-shadow-style2);
        display: inline-block;
        padding: 10px;
        transition: .5s;
        background: var(--brown-color);
        border: 1px solid #ebebeb;
        color: #fff;
    }

    .card:hover {
        background: var(--home-color-light);
        color: var(--light-color);


        img {
            transform: scale(1.2);
            transition: .3s;
        }
    }

    .btn:hover {
        background-color: #fff;
        border-color: var(--home-color-dark);
        color: var(--home-color-dark);
    }


    .owl-carousel img {
        border-radius: 50%;
        padding: 20px;
        margin: auto;
        align-items: center;
        transition: .3s;
    }

}

.row-home-select {
    max-width: 100%;

    .form-select {
        width: 250px;
        float: right;
        margin: 10px 5px 10px 5px;
        border: 1px solid var(--home-color);
    }
}


/*LOGIN */
.container-login {
    margin-top: 50px;
    max-width: 600px;

    .navbar-brand {
        color: var(--light-color);
        font-size: 30px;
        font-weight: 500;
        border: 1px solid var(--home-color);
        border-radius: .5rem;
        margin-bottom: 15px;
        background: var(--bg-linear);
    }

    .col-login-side {
        padding: 40px 100px 50px 100px;
        border-radius: 1rem;
        box-shadow: var(--box-shadow-style2);
    }

    .btn-login {
        margin-top: 20px;
    }

    .btn-primary {
        background-color: var(--home-color) !important;
        border: solid 1px var(--light-color);
        font-size: 20px;
        border-radius: 1rem;

    }

    .btn-primary:hover {
        background-color: var(--light-color) !important;
        border: solid 2px var(--home-color-dark);
        font-size: 20px;
        color: var(--home-color);

    }

    #login-text {
        color: var(--home-color-dark);
        font-weight: bold;
        margin-bottom: 50px;
    }

    .input-username {
        border: solid 1px var(--home-color);
        border-radius: 1rem;
    }

    .input-password {
        border: solid 1px var(--home-color);
        border-radius: 1rem;
    }


}

/*END LOGIN  */


/*Profile Page */
.user-page-title {
    color: var(--home-color);
    margin: 10px 0px -10px 20px;
    font-weight: bold;
}

hr {
    color: var(--home-color) !important;
}

.container-profile {
    border: solid 1px #e2e2e2;
    box-shadow: var(--box-shadow-style2);

    .card-profile {
        width: 18rem;
        padding: 20px;
        align-items: center;
        background: var(--theme-color);
        border: solid 1px var(--home-color-light);
        max-height: 100%;

        .card-img-top {
            border-radius: 50%;
            height: 12rem;
            width: 12rem;
            border: solid 2px var(--light-home);
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20%;
        }

        .card-title {
            color: var(--light-home);
            text-align: center;

        }

        .card-text {
            color: var(--light-home);
            text-align: center;
        }
    }

    .profile-label {
        font-weight: 400;
        margin-left: 10px;
        max-width: 100px;
    }

    .profile-info {

        .row {
            padding: 20px;
            border-top: solid 1px #9c9c9c;
        }

        .row:nth-of-type(1) {
            border-top: none;
        }

        .col-label {
            color: var(--home-color);
            font-size: 16px;
            font-weight: bold;
        }
    }

}



.section-profile-content {
    background-color: none;

    .nav-link {
        color: var(--home-color-dark);
        align-items: center;
    }

    .nav-link.active {
        background-color: var(--home-color);
    }

    .nav-pills {
        .nav-item {
            font-weight: 500;
            margin: 2px;
            border-radius: 0.370rem;
        }
    }

    .container-nav-schedule {
        box-shadow: var(--box-shadow-style2);
        padding: 15px;
        max-width: 100%;
        max-height: 100%;
        margin-bottom: 15px;
    }

    .container-nav-calendar {
        box-shadow: var(--box-shadow-style2);
        padding: 15px;
        max-width: 100%;
        max-height: 100%;
        margin-bottom: 15px;

        #calendar {
            color: var(--home-color);

            .fc-daygrid-day-number {
                color: var(--home-color-dark);
                text-decoration: none;
            }

            .fc-col-header-cell-cushion {
                color: var(--home-color-dark);
                text-decoration: none;
            }

            .fc-highlight {
                background-color: #aec1cf;
            }
        }
    }


    .container-nav-feedback {
        padding: 15px;
        max-width: 100%;
        height: 500px;
        display: grid;
        place-content: center;
        margin-bottom: 15px;

        .container-feedback {
            box-shadow: var(--box-shadow-style2);
            text-align: center;
            margin: 10px 100px 10px 100px;
            padding: 20px;
            max-height: 100%;
            width: 500px;
            align-items: center;

            .fs-4 {
                color: var(--home-color);
            }

            .fs-5 {
                margin-top: 20px;
            }

            .btn-feedback {
                width: 300px;
            }
        }
    }
}

/*Profile Page */

/*Profile Page Edit */
.container-profile-edit {
    box-shadow: var(--box-shadow-style2);
    padding: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #ffffff;

    input {
        padding: 10px;
        border: 0.5px solid #e2e2e2;
        border-radius: 0.5rem;
    }
}

/*CAROUSEL */
.owl-item>div {
    cursor: pointer;
    margin: 6% 8%;
    transition: margin 0.4s ease;
}

.owl-item.center>div {
    cursor: auto;
    margin: 0;
}

/*END CAROUSEL */
/*SCHEDULE PAGE */


/* HOME NAVBAR */

/* DASHBOARD NAVBAR */
.navbar {
    height: 3.5rem;
    background-color: var(--theme-color);

    .nav-logout {
        align-items: flex-end;
    }
}

h2 {
    margin: auto;
}

.logo img {
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin-bottom: 10px;
}

.dropdown {
    list-style: none;
    color: var(--white-color);
    margin-inline-end: 20px;
    font-size: 18px;
    margin-bottom: 10px;
}

.bi-bell {
    list-style: none;
    color: var(--white-color);
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-left: 1060px;
}

.navbar-toggler {
    margin-left: 20px;
    background-color: #e5e2ff;
    margin-bottom: 15px;
    border-color: transparent;
}

.navbar-toggler:hover {
    margin-left: 20px;
    background-color: white;
}


.offcanvas-header {
    background: var(--bg-linear-test8);
    color: #ffffff;
    border-top-right-radius: 1rem;
}

.offcanvas-body {
    color: var(--brown-color);
}

.offcanvas-body .bi {
    color: var(--home-color);
    font-size: 20px;
}


.offcanvas-header img {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    cursor: pointer;
    position: relative;
    left: 45%;
    transition: 0.3s;
}

.offcanvas-header img:hover {
    border-radius: 50%;
    transition: 0.3s;
    transform: scale(1.2)
}

.navbar-nav a {
    text-transform: uppercase;
    text-decoration: none;
}


.navbar-nav a:hover:after {
    width: 70%;
    left: 25px;
}


@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}

/* END NAVBAR */


/* DASHBOARD PAGE */

/* DASHBOARD SUMMARY BOX */
.section_summary .container-fluid .content .bi {
    font-size: 55px;
    margin-bottom: -35px;
    margin-top: -20px;
}

.section_summary {
    /* background-color: var(--light-color); */
    margin-top: -20px;
    border-radius: 1rem;

}


section.section_summary .section_contents {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .content {
        box-shadow: var(--box-shadow-style);
        max-width: 100%;
        padding: 30px 20px;
        margin: 10px 10px 10px 0;
        cursor: pointer;
        height: 100px;
        border-radius: var(--borderRadius);

        h4,
        h3 {
            margin: auto;
        }
    }

}

section.section_summary .section_contents .content .content_count {
    font-size: 20px;
    font-weight: bold;
    align-items: center;

}

section.section_summary .section_contents .content_instructor {
    /* background: linear-gradient(90deg, rgb(219, 253, 255) 0%, rgb(189, 229, 241) 100%);
   background-color: rgba(181, 227, 241, 0.589); */
    border-left: 10px solid;
    border-left-color: #253339;
    color: var(--home-color);
    background: #3c46492e;

    .bi-people-fill {
        color: #253339;
    }

}

section.section_summary .section_contents .content_room {
    /* background: linear-gradient(90deg, rgb(125, 216, 180) 0%, rgba(30,140,74,1) 100%); */
    border-left: 10px solid;
    border-left-color: #8092A4;
    color: #515761;
    background-color: #DFECFD;

    .bi-door-open-fill {
        color: #626e7a;

    }
}

section.section_summary .section_contents .content_conflict {
    border-left: 10px solid;
    border-left-color: #C0678D;
    color: #BF282B;
    background-color: #FAE2F4;


    .bi {
        color: #C0678D;
    }
}

section.section_summary .section_contents .content_other {
    border-left: 10px solid;
    border-left-color: #5498BD;
    color: #3C5B72;
    background-color: #E0ECF7;


    .bi {
        color: #5498BD;
    }

}

/* HOVER EFFECT */
section.section_summary .section_contents .content:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;

}

/*END HOVER EFFECT */

/* END DASHBOARD SUMMARY */
section.section_summary .section_contents .content {
    border-radius: 0.2rem;
}

.order-card {
    color: #fff;
}

.f-left {
    float: left;
}

.content_title {
    margin-top: 9px;
    font-size: 20px;
    float: right;
}


/*DASHBOARD QUICK INFO */
/*DASHBOARD QUICK INFO */

.section-quickInfo {
    .col-calendar {
        #calendar {
            color: var(--home-color);

            .fc-daygrid-day-number {
                color: var(--home-color-dark);
                text-decoration: none;
            }

            .fc-col-header-cell-cushion {
                color: var(--home-color-dark);
                text-decoration: none;
            }

            .fc-highlight {
                background-color: #aec1cf;
            }
        }
    }

    .col-sm {
        background-color: var(--light-color);
        margin: 10px;
        padding: 10px;
        box-shadow: var(--box-shadow-style);
        max-height: 100%;
    }


    .upcoming-class {
        padding: 10px;

        .quickInfo-class {
            border-left: 10px solid #747474;
            background-color: var(--brown-color);
            padding: 10px;
            margin: 5px;
            color: white;
            border-radius: .5rem;
            cursor: pointer;
            transition: .2s;

            .col {
                margin: auto;
            }

            .time {
                color: var(--home-color);
                background-color: #fff;
                border-radius: 50%;
                font-weight: bold;
                padding: 5px 8px 5px 8px;
            }
        }

        .quickInfo-class:hover {
            background-color: #a7a7a7;
        }
    }

}

/*DASHBOARD END QUICK INFO */
/*DASHBOARD END QUICK INFO */



/*DASHBOARD SCHEDULE */
/*DASHBOARD SCHEDULE */

/*DASHBOARD INSTRUCTORS */
/*DASHBOARD INSTRUCTORS */


.table {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 20px;
}


/*DASHBOARD END INSTRUCTORS */
/*DASHBOARD END INSTRUCTORS */
.section-select {
    background-color: var(--light-color);
    margin-top: 5px;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 50px;
    box-shadow: var(--box-shadow-style);
    overflow: auto;
    max-height: 700px;
}


thead.table-head {
    background-color: var(--home-color) !important;
}

.dashboard-header {
    color: var(--home-color);
    margin: auto;
    padding: 10px 0 10px 10px;
}


.fc .fc-col-header-cell-cushion {
    color: #026992;
    font-size: 16px;
}

#calendar {
    color: var(--home-color);
    font-size: 13px;
    max-width: 100%;
    max-height: 100%;
}

/*END DASHBOARD SCHEDULE */
/*END DASHBOARD SCHEDULE */

/* END DASHBOARD PAGE */
/* END DASHBOARD PAGE */


/* INSTRUCTORS PAGE */
/* INSTRUCTORS PAGE */

.container-instructor-nav {
    padding: 10px 10px 0px 10px;
    margin-bottom: -12px;
}

.instructor-college-select {
    border: 1px solid var(--home-color);
}

.instructor-text {
    color: var(--home-color);
    font-weight: 600;

}

.row-select {
    max-width: 100%;

    .form-select {
        width: 250px;
        margin: 10px 10px 0px 10px;
        float: right;
    }
}

.container-instructor-table {
    box-shadow: var(--box-shadow-style);
    padding: 10px;
    margin-top: 10px;
    background-color: #fff;

    .nav-link {
        color: var(--home-color);
        font-weight: 500;
    }

    .nav-link:hover {
        background-color: var(--home-color);
        color: var(--light-color);
        font-weight: 500;
    }

}

.container-register {
    max-width: 70%;
    margin-top: 20px;
    padding: 40px;
    box-shadow: var(--box-shadow-style2);

    input {
        border: 1px solid #d8d8d8c7;
    }

    .fs-3 {
        color: var(--home-color);
        font-weight: 600;
    }

}

.container-information {
    max-width: 70%;
    box-shadow: var(--box-shadow-style2);
    padding: 40px;
    margin-bottom: 20px;

    input {
        border: 1px solid #d8d8d8c7;
    }

    .fs-5 {
        color: var(--home-color);
        font-weight: 500;
    }
}

/* Edit Instructor Page */
.container-instructor-update {
    box-shadow: var(--box-shadow-style2);
    padding: 20px 50px 50px 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    background-color: #fff;
    max-width: 80%;
    color: var(--home-color-dark);

    input {
        padding: 10px;
        border: 0.5px solid #e2e2e2;
        border-radius: 0.5rem;
    }
}

.btn-back-instructors {

    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

/* END INSTRUCTORS PAGE */
/* END INSTRUCTORS PAGE */

/* SCHEDULE PAGE */
.text-schedule {
    color: var(--home-color);
    margin: 10px;
}

.container-schedule-page {
    .nav-link {
        color: var(--home-color);
        font-weight: 500;
    }

    .nav-link.active {
        color: var(--home-color);
        font-weight: 500;
    }

    .nav-link:hover {
        color: var(--light-color);
        background-color: var(--home-color-dark);
        font-weight: 500;
    }

    .container-user-info {
        padding: 10px 20px 20px 20px;

        h4 {
            color: var(--home-color);
            font-weight: 600;
        }
    }

    .schedule-department-select {
        margin: 10px 0 10px 0;
    }

    .row-schedule-panel {
        padding: 15px;
    }
}

.select-subject-name,
.select-subject-instructor,
.select-subject-room {
    width: 450px;
    height: 50px;
}

.container-instructor-schedule {
    max-height: 100%;
    box-shadow: var(--box-shadow-style);
    padding: 20px;
    background-color: #fff;
}


.owl-carousel {
    display: flex;
}

.owl-carousel .item {
    margin: 0 15px;
    background-color: var(--brown-color);
    padding: 10px;
    border-radius: 1rem;
    justify-content: center;
    transition: .3s;
    box-shadow: var(--box-shadow-style2);
    margin-bottom: 10px;
    color: #fff;

}

.owl-carousel .item:hover {
    background: var(--home-color-light);
    color: var(--light-color);

    .btn-default {
        background-color: var(--light-home);
        border: 2px solid var(--home-color);
        color: var(--home-color-dark);
    }
}

.owl-carousel .item img {
    border-radius: 50%;
    width: 4rem;
    height: auto;
    justify-content: center;
    align-items: center;

}

.row-user-info {

    .container-user-info {

        .container-schedule-calendar {
            padding: 10px;
            box-shadow: var(--box-shadow-style2);
            margin-top: 10px;
            margin-bottom: 10px;
            background-color: #fff;

            #calendar {
                color: var(--home-color);

                .fc-daygrid-day-number {
                    color: var(--home-color-dark);
                    text-decoration: none;
                }

                .fc-col-header-cell-cushion {
                    color: var(--home-color-dark);
                    text-decoration: none;
                }

                .fc-highlight {
                    background-color: #aec1cf;
                }
            }
        }

        .container-schedule-loadslip {
            height: 500px;
            background-color: #fff;
            margin: 10px;
            box-shadow: var(--box-shadow-style2);
        }
    }
}

.schedule-link {
    text-decoration: none;
    text-decoration-line: none !important;
    color: var(--home-color-dark) !important;
}

/* END SCHEDULE PAGE */


/* Subject Page */
.container-subject-page {
    .tab-pane {
        background-color: #fff;
    }

    .nav-link {
        color: var(--home-color);
        font-weight: 500;
    }

    .nav-link.active {
        color: var(--home-color);
        font-weight: 500;
    }

    .nav-link:hover {
        color: var(--light-color);
        background-color: var(--home-color-dark);
        font-weight: 500;
    }

    .col-subject {
        background-color: #fff;
        margin: 10px;
        padding: 10px;
        box-shadow: var(--box-shadow-style2);

        .col-course {
            background-color: var(--home-color-light);
            padding: 10px;
            margin: 10px;
            color: var(--light-color);
            border-radius: 1rem;
        }
    }

    .table-responsive {
        .table-head {
            background-color: #026992 !important;
        }
    }

    .col-rooms {
        background-color: #fff;
        box-shadow: var(--box-shadow-style2);
        margin: 10px;
        padding: 10px;
    }

    .form-select-room,
    .form-select-college,
    .form-select-year_level,
    .form-select-semester,
    .form-select-course,
    .form-select-type {
        width: 475px;
        height: 50px;
        margin: 10px 5px 5px 5px;

    }

}

.messages {
    padding: 20px;
    transition: 0.4s;

    .alert {
        padding: 20px;
        text-align: center;
        align-items: center;
        transition: 1s;
    }
}

.container-update-page {
    max-width: 40%;

    .bi-arrow-left {
        margin-left: -2px;
    }

    .col-subject-edit {
        background-color: #e7ecf3;
        margin: 10px;
        padding: 10px;
        box-shadow: var(--box-shadow-style2);
    }

    .col-rooms-edit {
        background-color: #e7ecf3;
        margin: 10px;
        padding: 10px;
        box-shadow: var(--box-shadow-style2);
    }
}

.fc-v-event .fc-event-main {
    background-color: #478576;
}


/* Calendars */
#calendarSchedulePage,
#calendarProfilePage {
    .fc-col-header-cell-cushion {
        color: var(--home-color-dark);
        text-decoration: none;
    }
}