:root {
    --bg-color: #3884b9;
    --white-color: #ffe2e9;
    --pink-color: #e89bb0;
    --light-color: #f8fcff;
    --brown-color: #8a5765;
    --blue-color: #397bab;
    --dark-color: #352b3b;
    --box-shadow-style: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    --borderRadius: 0.5rem;

    --home-color: #3C5B72;
    --home-color-dark: #39566D;
    --home-color-light: #566c7d;
    --light-home: #F2F2F2;

    --bg-linear: linear-gradient(39deg, rgba(86, 108, 125, 1) 0%, rgba(42, 107, 130, 1) 100%);
}

* {
    margin: 0;
    padding: 0;
}



i {
    margin-left: 15px;
    margin-right: 10px;
}

/* SCROLLBAR NAVBAR */
/* SCROLLBAR NAVBAR */

::-webkit-scrollbar {
    width: 5px;
    /* width of the scrollbar */
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    /* color of the track */
}

::-webkit-scrollbar-thumb {
    background: var(--home-color-dark);
    /* color of the scrollbar */
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
    /* color of the scrollbar on hover */
}

/* END SCROLLBAR NAVBAR */
/* END SCROLLBAR NAVBAR */

/* HOME NAVBAR */
/* HOME NAVBAR */

/* BUTTON DEFAULT */

.btn-default {
    background-color: var(--home-color);
    color: var(--light-home);
}

.btn-default:hover {
    border: solid 1px var(--home-color);
    background-color: var(--light-home);
    color: var(--home-color);
}

/* END BUTTON DEFAULT */

#home-nav {
    background-color: var(--home-color);

    #home-logo {
        color: var(--light-home);
        margin-left: 20px;
        font-weight: bold;
    }

    .btn-login {
        align-items: end;
    }

    .item-profile {
        text-transform: uppercase;
        margin-right: 20px;
    }

    .btn-login,
    .btn-logout {
        border-color: var(--light-home);
        color: var(--light-home);

    }

    .btn-login:hover,
    .btn-logout:hover {
        background-color: var(--light-home);
        color: var(--home-color);
    }

    .nav-link {
        list-style: none;
        color: var(--light-home);
    }

}

.navbar-collapse {
    background-color: var(--home-color);
}

/* HOME PAGE */
.home-page {
    background-color: var(--home-color);
    padding-bottom: 15px;
    padding-top: 15px;

    h1 {
        color: var(--light-color);
    }

    p {
        color: var(--light-color);
    }

    h5 {
        color: var(--light-color);

    }

    .btn-viewSchedules {
        border-color: var(--light-home);
        color: var(--light-home);
        border: solid 2px;

    }

    .btn-viewSchedules:hover {
        background-color: var(--light-home);
        color: var(--home-color);
    }

    .title-part {
        padding-left: 50px;
        padding-top: 20px;

    }

    .logo-part {
        padding-right: 50px;

        img {
            border: solid 10px var(--home-color-dark);

        }
    }

}

.text-detail {
    color: var(--home-color);
    text-align: center;
    padding-top: 20px;
}

/*END HOME PAGE */

/*SCHEDULE PAGE */
.section-schedule {
    height: 630px;

    .heading {
        margin-bottom: -15px;
        margin-top: -10px;
    }

    .col-4 {
        padding: 10px;
    }

    .btn-group {
        margin-top: 5px;
    }

    .btn {
        background-color: var(--home-color);
        color: var(--light-home);
        border: solid 2px;
    }

    .btn:hover {
        background-color: var(--light-home);
        border-color: var(--home-color);
        color: var(--home-color);
    }

    h3 {
        color: var(--home-color);
        padding: 10px;
    }

    .home-table {
        margin-top: 20px;
        box-shadow: var(--box-shadow-style);
    }

    .table-bg {
        background-color: var(--home-color) !important;
    }

    .home-card {
        margin: 10px 20px 50px 20px;
        width: 1190px;
        overflow-x: auto;
        white-space: nowrap;

        .row-card {
            display: inline-block;
        }

        .card {
            margin: 10px;
            box-shadow: var(--box-shadow-style);
            display: inline-block;
            padding-bottom: 10px;

        }

        img {
            border-radius: 50%;
            width: 50%;
            height: 50%;
            margin: auto;
            padding-top: 20px;
            align-items: center;
        }

    }
}

/*LOGIN */
.container-login {
    border: solid 3px var(--home-color);
    margin-top: 10px;
    border-top-right-radius: 5rem;
    border-bottom-left-radius: 5rem;

    .login-intro {
        background: var(--home-color-dark);
        padding: 3rem;
        margin: auto;
        height: 100%;
        border-bottom-left-radius: 4rem;
        border-top-right-radius: 4rem;

    }

    .navbar-brand {
        color: var(--light-home);
        font-weight: bold;
    }

    .fs-4 {
        color: var(--light-home);
        align-items: center;
        font-size: 20px;
        margin-top: 20px;
    }

    .p-label {
        margin-top: 75px;
        color: var(--light-home);
    }

    .login-side {
        padding: 100px;
    }

    .btn-login {
        margin-top: 20px;
    }

    .btn-primary {
        background-color: var(--home-color) !important;
        border: solid 1px var(--home-color);
        font-size: 20px;
    }

    .btn-primary:hover {
        background-color: transparent !important;
        border: solid 2px var(--home-color);
        font-size: 20px;
        color: var(--home-color);

    }

    #login-text {
        color: var(--home-color);
        font-weight: bold;
        margin-bottom: 50px;
    }

    .input-username {
        border: solid 1px var(--home-color);
    }

    .input-password {
        border: solid 1px var(--home-color);

    }
}

/*END LOGIN  */


/*Profile Page */
.user-page-title {
    color: var(--home-color);
    margin: 10px 0px -10px 20px;
    font-weight: bold;
}

hr {
    color: var(--home-color) !important;
}

.container-profile {
    border: solid 1px #cccccc;

    .card-profile {
        width: 18rem;
        padding: 20px;
        align-items: center;
        background: linear-gradient(39deg, rgba(86, 108, 125, 1) 0%, rgba(42, 107, 130, 1) 100%);
        border: solid 1px var(--home-color-light);
        max-height: 100%;

        .card-img-top {
            border-radius: 50%;
            height: 12rem;
            width: 12rem;
            border: solid 2px var(--light-home);
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20%;
        }

        .card-title {
            color: var(--light-home);
            text-align: center;

        }

        .card-text {
            color: var(--light-home);
            text-align: center;
        }
    }

    .profile-label {
        font-weight: 400;
        margin-left: 10px;
        max-width: 100px;
    }

    .profile-info {

        .row {
            padding: 20px;
            border-top: solid 1px #9c9c9c;
        }

        .row:nth-of-type(1) {
            border-top: none;
        }

        .col-label {
            color: var(--home-color);
            font-size: 16px;
            font-weight: bold;
        }
    }

}

.section-profile-content {
    background-color: none;

    .nav-link {
        color: var(--home-color-dark);
        align-items: center;
    }

    .nav-link.active {
        background-color: var(--home-color);
    }

    .nav-pills {
        .nav-item {
            font-weight: 500;
            margin: 2px;
            border-radius: 0.370rem;
        }
    }

    .container-nav-schedule {
        box-shadow: var(--box-shadow-style);
        padding: 15px;
        max-width: 100%;
        max-height: 100%;
    }

    .container-nav-calendar {
        box-shadow: var(--box-shadow-style);
        padding: 15px;
        max-width: 100%;
        height: 700px;
    }


    .container-nav-feedback {
        padding: 15px;
        max-width: 100%;
        height: 500px;
        display: grid;
        place-content: center;

        .container-feedback {
            box-shadow: var(--box-shadow-style);
            text-align: center;
            margin: 10px 100px 10px 100px;
            padding: 20px;
            max-height: 100%;
            width: 500px;
            align-items: center;

            .fs-4 {
                color: var(--home-color);
            }

            .fs-5 {
                margin-top: 20px;
            }

            .btn-feedback {
                width: 300px;
            }
        }
    }
}

/*Profile Page */



/*CAROUSEL */
.owl-item>div {
    cursor: pointer;
    margin: 6% 8%;
    transition: margin 0.4s ease;
}

.owl-item.center>div {
    cursor: auto;
    margin: 0;
}

.owl-item:not(.center)>div:hover {
    opacity: .75;
}

/*END CAROUSEL */
/*SCHEDULE PAGE */


/* HOME NAVBAR */
/* HOME NAVBAR */

/* DASHBOARD NAVBAR */
/* DASHBOARD NAVBAR */
/* DASHBOARD NAVBAR */
.navbar {
    height: 3.5rem;
    background-color: var(--home-color);

    .nav-logout {
        align-items: flex-end;
    }
}

h2 {
    margin: auto;
}

.logo img {
    height: 50px;
    width: 50px;
    cursor: pointer;
    margin-bottom: 10px;
}

.dropdown {
    list-style: none;
    color: var(--white-color);
    margin-inline-end: 20px;
    font-size: 18px;
    margin-bottom: 10px;
}

.bi-bell {
    list-style: none;
    color: var(--white-color);
    font-size: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-left: 1060px;
}

.navbar-toggler {
    margin-left: 20px;
    background-color: #e5e2ff;
    margin-bottom: 15px;
    border-color: transparent;
}

.navbar-toggler:hover {
    margin-left: 20px;
    background-color: white;
}


.offcanvas-header {
    background: var(--bg-linear);
    color: #ffffff;
    border-top-right-radius: 1rem;
}

.offcanvas-body {
    color: var(--brown-color);
}

.offcanvas-body .bi {
    color: var(--home-color);
    font-size: 20px;
}


.offcanvas-header img {
    border-radius: 50%;
    height: 90px;
    width: 90px;
    cursor: pointer;
    position: relative;
    left: 45%;
    transition: 0.3s;
}

.offcanvas-header img:hover {
    border-radius: 50%;
    transition: 0.3s;
    transform: scale(1.2)
}

.navbar-nav a {
    text-transform: uppercase;
    text-decoration: none;
}


.navbar-nav a:hover:after {
    width: 70%;
    left: 25px;
}


@media screen and (max-height: 300px) {
    ul {
        margin-top: 40px;
    }
}

/* END NAVBAR */
/* END NAVBAR */
/* END NAVBAR */


/* DASHBOARD PAGE */
/* DASHBOARD PAGE */

/* DASHBOARD SUMMARY BOX */
/* DASHBOARD SUMMARY BOX */
.section_summary .container-fluid .content .bi {
    font-size: 55px;
    margin-bottom: -35px;
    margin-top: -20px;

}



.section_summary {
    /* background-color: var(--light-color); */
    margin-top: -20px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 1rem;

    .logo-welcome img {
        height: 110px;
        width: 110px;
    }
}


section.section_summary .section_contents {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .content {
        box-shadow: var(--box-shadow-style);
        max-width: 100%;
        padding: 30px 20px;
        margin: 10px 10px 10px 0;
        color: #f1f1f1;
        cursor: pointer;
        height: 100px;
        border-radius: var(--borderRadius);
    }

}

section.section_summary .section_contents .content .content_count {
    font-size: 20px;
    font-weight: bold;
    align-items: center;

}

/*
section.section_summary .section_contents .content_welcome {
    background: linear-gradient(90deg, rgba(64, 128, 187, 0.902) 0%, rgba(48,184,255,1) 100%);
    max-width: 100%;
    padding: 30px 20px;
    margin: 10px 30px 10px 0;
    color: #f1f1f1;
    border-radius: .5rem;  
}
*/

section.section_summary .section_contents .content_instructor {
    /* background: linear-gradient(90deg, rgb(219, 253, 255) 0%, rgb(189, 229, 241) 100%);
   background-color: rgba(181, 227, 241, 0.589); */
    border-left: 5px solid;
    border-left-color: rgb(21, 200, 255);
    color: #026992;
    background-color: rgb(202, 243, 255);

    span {
        font-size: 40px;
        color: #026992;
        float: right;
    }

    .bi-people-fill {
        color: #53bbe4;
    }

}

section.section_summary .section_contents .content_room {
    /* background: linear-gradient(90deg, rgb(125, 216, 180) 0%, rgba(30,140,74,1) 100%); */
    border-left: 5px solid;
    border-left-color: rgb(78, 37, 189);
    color: rgb(78, 37, 189);
    background-color: rgb(225, 214, 255);

    span {
        color: rgb(78, 37, 189);
        float: right;
    }

    .bi-door-open-fill {
        color: rgb(78, 37, 189);

    }
}

section.section_summary .section_contents .content_conflict {
    border-left: 5px solid;
    border-left-color: rgb(189, 37, 126);
    color: rgb(189, 37, 126);
    background-color: rgba(255, 214, 238, 0.623);

    span {
        color: rgb(189, 37, 75);
        float: right;
    }

    .bi {
        color: rgb(189, 37, 126);
    }
}

section.section_summary .section_contents .content_other {
    border-left: 5px solid;
    border-left-color: rgb(189, 141, 37);
    color: rgb(189, 141, 37);
    background-color: rgba(241, 235, 224, 0.623);

    span {
        color: rgb(189, 141, 37);
        float: right;
    }

    .bi {
        color: rgb(189, 141, 37);
    }

}

/* HOVER EFFECT */
section.section_summary .section_contents .content:hover {
    transform: translateY(-5px);
    transition: transform 0.2s ease-in-out;

}

/*END HOVER EFFECT */

/* END DASHBOARD SUMMARY */
section.section_summary .section_contents .content {
    border-radius: 0.2rem;
}

.order-card {
    color: #fff;
}

.f-left {
    float: left;
}

.content_title {
    margin-top: 9px;
    font-size: 20px;
    float: right;
}


/*DASHBOARD QUICK INFO */
/*DASHBOARD QUICK INFO */

.section-quickInfo {
    .col {
        background-color: var(--light-color);
        margin: 10px;
        padding: 10px;
        box-shadow: var(--box-shadow-style);
        height: 200px;

    }

    .upcoming-class {
        padding: 10px;

        .quickInfo-class {
            background-color: #5896c2;
            padding: 10px;
            margin: 5px;
            color: white;
            border-radius: .5rem;
            cursor: pointer;
            transition: .2s;
        }

        .quickInfo-class:hover {
            background-color: #7ab9e6;
        }
    }

}

/*DASHBOARD END QUICK INFO */
/*DASHBOARD END QUICK INFO */



/*DASHBOARD SCHEDULE */
/*DASHBOARD SCHEDULE */
.section-calendar {
    background-color: var(--light-color);
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 0.5rem;
    height: 510px;
    width: 985px;
    float: right;
    margin-bottom: 20px;
    box-shadow: var(--box-shadow-style);
}

.section-calendar .btn {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-calendar {
    background-color: whitesmoke;
    height: 400px;
    padding: 10px 10px 10px 10px;
    margin-top: 15px;
    box-shadow: var(--box-shadow-style);
}

.section-calendar h5 {
    color: #0a6db4;
    padding-left: 10px;
    padding-top: 10px;
    text-transform: uppercase;
    font-weight: bold;

}

.section-card .container {
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 0.5rem;
    height: 400px;
    width: 300px;
    float: left;
    margin-bottom: 26px;
    padding: 7px 13px 30px 15px;
    color: white;

}

.section-card img {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    position: relative;
    left: 15%;
}

.section-card .card {
    height: 515px;
    margin-left: -15px;
    box-shadow: var(--box-shadow-style);
}

.section-card .card .btn {
    margin-bottom: 20px;
}


/*DASHBOARD INSTRUCTORS */
/*DASHBOARD INSTRUCTORS */


.table {
    position: sticky;
    top: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
}


/*DASHBOARD END INSTRUCTORS */
/*DASHBOARD END INSTRUCTORS */
.section-select {
    background-color: var(--light-color);
    margin-top: 5px;
    max-width: 100%;
    padding-top: 10px;
    padding-bottom: 50px;
    box-shadow: var(--box-shadow-style);
    overflow: auto;
    max-height: 700px;
}

.dashboard-header {
    color: #0a6db4;
    margin: auto;
    padding: 10px 0 10px 10px;
}


.fc .fc-col-header-cell-cushion {
    color: #026992;
    font-size: 16px;
}

/*END DASHBOARD SCHEDULE */
/*END DASHBOARD SCHEDULE */

/* END DASHBOARD PAGE */
/* END DASHBOARD PAGE */


/* INSTRUCTORS PAGE */
/* INSTRUCTORS PAGE */
.instructors-part {
    max-width: 100%;

    #btn-add {
        margin-right: 20px;
    }

    .instructors-header {
        background-color: var(--light-color);
        max-width: 100%;
        color: #0a6db4;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: -25px;
        border-radius: 0.1rem;
        padding: 10px 0 5px 10px;
        box-shadow: 0px 0px 12px -8px #141414;

        h3 {
            font-size: 25px;
        }
    }

    h4 {
        text-align: center;
        align-items: center;

    }

    #news-slider {
        margin-top: 10px;

    }

    .card {
        align-items: center;
    }

    .owl-carousel {

        .post-slide {

            .post-img {
                height: 300px;
                width: 300px;
                align-items: center;
            }
        }
    }

    .carousel-control-prev {
        background-color: var(--blue-color);
        height: 80px;
        width: 80px;
        border-radius: 50%;

    }

    .carousel-control-next {
        background-color: var(--blue-color);
        height: 80px;
        width: 80px;
        border-radius: 50%;
        margin-left: 20px;
    }

    .owl-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-top: -35px;

        .owl-prev {

            span {
                padding: 10px;
                font-size: 50px;
                margin-right: 5px;
            }
        }

        .owl-next {

            span {
                padding: 10px;
                font-size: 50px;
                margin-left: 5px;
            }
        }
    }

    .card-info {
        width: 540px;
        padding: 10px;
        left: 10%;

        .card-body {
            text-transform: uppercase;
        }
    }

}

.section-info {
    margin-top: -90px;
}

/* END INSTRUCTORS PAGE */
/* END INSTRUCTORS PAGE */